    <footer>
        <div class="payments-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul>
                            <li><a href="https://www.bitcoin.com/" target="_blank"><img src="img/payments/footer-btc.png"></a></li>
                            <li><a href="https://ethereum.org/" target="_blank"><img src="img/payments/footer-ethereum.png"></a></li>
                            <li><a href="https://www.litecoin.com/" target="_blank"><img src="img/payments/footer-litecoin.png"></a></li>
                            <li><a href="https://www.bitcoincash.org/" target="_blank"><img src="img/payments/footer-btc-cash.png"></a></li>
                            <li><a href="https://www.dash.org/" target="_blank"><img src="img/payments/footer-dash.png"></a></li>
                            <li><a href="http://dogecoin.com/" target="_blank"><img src="img/payments/footer-dodge.png"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="top-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <div class="footer-nav">
                            <a href="https://litetrade.org/">Home</a>
                            <a href="https://litetrade.org/cust/page/aboutus">About us</a>
                            <a href="https://litetrade.org/cust/page/affiliate">Affiliate</a>
                            <a href="https://litetrade.org/cust/page/bounty">Bounty </a>
                            <a href="https://litetrade.org/faq">FAQ</a>
                            <a href="https://litetrade.org/support">Contact us</a>
                        </div>
                        <div>
                            <a href="?a=home" class="footer-logo"></a>
                            <div class="footer-links">
                                <a href="https://litetrade.org/rules">Terms of use</a>
                                <a href="https://litetrade.org/cust/page/privacy">Privacy Policy</a>
                                <a href="https://litetrade.org/cust/page/antispam">Anti-spam</a>
                            </div>
                            <div class="footer-social">
                                <a target="_blank" class="twitter" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                <a target="_blank" class="instagram" href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                                <a target="_blank" class="telegram" href="https://t.me/"><i class="fa fa-paper-plane"></i></a>
                                <a target="_blank" class="facebook" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                            </div>
                            <p class="top-footer-text">40 Bloomsbury Way, First Floor, London, England, WC1A 2SE</p>
                            <p class="footer-copyright">© 2017-2018 <a href="https://litetrade.org/">Litetrade Limited</a>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5 hidden-xs">
                        <div class="footer-company-office">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div id="top"><i class="fa fa-angle-up"></i></div>

    <script type="text/javascript" src="js/all.min.js"></script>

    </body>
</html>