<div class="page-calculator-block">
    <div class="main-calculator">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-2">
                    <div class="calculator_box">
                        <label>investment direction:</label>
                        <div class="select-box">
                            <div class="select-plan" id="calculator-direction">
                                <div class="select-link"><a href="javascript:void(0)">Trading</a></div>
                                <div class="select-tab">
                                    <ul class="select-list">
                                        <li><a href="javascript:void(0)" data-direction="trading" class="selected">Trading</a></li>
                                        <li><a href="javascript:void(0)" data-direction="mining">Mining</a></li>
                                        <li><a href="javascript:void(0)" data-direction="innovation">Innovation</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2">
                    <div class="calculator_box">
                        <label>Select period:</label>
                        <div class="select-box">
                            <div class="select-plan" id="calculator-plans">
                                <div class="select-link"><a href="javascript:void(0)">6 Business days</a></div>
                                <div class="select-tab">
                                    <ul class="select-list">
                                        <li class="plan-direction trading active"><a href="javascript:void(0)" data-value="110%" data-minimum="500" data-days="6" data-plan="1" class="selected">6 Business days</a></li>
                                        <li class="plan-direction trading active"><a href="javascript:void(0)" data-value="122%" data-minimum="250" data-days="11" data-plan="2">11 Business days</a></li>
                                        <li class="plan-direction trading active"><a href="javascript:void(0)" data-value="136%" data-minimum="100" data-days="16" data-plan="3">16 Business days</a></li>
                                        <li class="plan-direction trading active"><a href="javascript:void(0)" data-value="152%" data-minimum="75" data-days="21" data-plan="4">21 Business days</a></li>
                                        <li class="plan-direction trading active"><a href="javascript:void(0)" data-value="170%" data-minimum="50" data-days="26" data-plan="5">26 Business days</a></li>
                                        <li class="plan-direction trading active"><a href="javascript:void(0)" data-value="190%" data-minimum="25" data-days="31" data-plan="6">31 Business days</a></li>
                                        <li class="plan-direction mining"><a href="javascript:void(0)" data-value="4%" data-minimum="10" data-days="30" data-plan="7">Daily for 30 days</a></li>
                                        <li class="plan-direction innovation"><a href="javascript:void(0)" data-value="300%" data-minimum="25" data-days="90" data-plan="13">After 90 days</a></li>
                                        <li class="plan-direction innovation"><a href="javascript:void(0)" data-value="800%" data-minimum="20" data-days="180" data-plan="14">After 180 days</a></li>
                                        <li class="plan-direction innovation"><a href="javascript:void(0)" data-value="1500%" data-minimum="15" data-days="270" data-plan="15">After 270 days</a></li>
                                        <li class="plan-direction innovation"><a href="javascript:void(0)" data-value="2400%" data-minimum="10" data-days="360" data-plan="16">After 360 days</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2">
                    <div class="calculator_box">
                        <label>Select currency:</label>
                        <div class="select-box">
                            <div class="select-plan" id="calculator-currency">
                                <div class="select-link"><a href="javascript:void(0)">Bitcoin, BTC</a></div>
                                <div class="select-tab">
                                    <ul class="select-list">
                                        <li><a href="javascript:void(0)" data-payment="48" data-currency="BTC" data-rate="10000" class="selected">Bitcoin, BTC</a></li>
                                        <li><a href="javascript:void(0)" data-payment="68" data-currency="LTC" data-rate="200" >Litecoin, LTC</a></li>
                                        <li><a href="javascript:void(0)" data-payment="69" data-currency="ETH" data-rate="1000" >Ethereum, ETH</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2">
                    <div class="calculator_box">
                        <label for="calculator-amount">Enter Amount:</label>
                        <input type="text" id="calculator-amount" name="amount" class="form-control calculator-input-box" value="0.1000" placeholder="">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">
                    <div class="calculator_box">
                        <label for="calculator-daily">Daily profit:</label>
                        <div id="calculator-daily" class="calculator-total-box">on complete</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">
                    <div class="calculator_box">
                        <label for="calculator-total">Total return:</label>
                        <div id="calculator-total" class="calculator-total-box">0.110000</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="toggle-calculator">
        <span class="show-plan">Calculate your profit</span>
    </div>
</div>