html {
    position: relative;
    min-height: 100%;
}
body {
    background: #fff;
    min-height: 100%;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
}

p{
    font-size: 16px;
    font-weight: 200;
    color:#192028;
}
h1, h2, h3, h4{
    color:#192028;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
    h1{
        font-size:30px;
    }
    h2{
        font-size:24px;
    }
    h3{
        font-size:18px;
    }
    h4{
        margin:20px 0;
        font-size:18px;
        color:#192028;
    }
a{
    outline: none;
    color:#192028;
    text-decoration: none;
}
    a:hover, a:focus{
        color:#4280bf;
        text-decoration: none;
        outline: none;
    }
ul li, ol li{
    font-size: 16px;
    color:#192028;
}

.link-orange{
    transition: all 0.3s;
    color:#4280bf;
    text-decoration: none;
}
    .link-orange:hover,
    .link-orange:active,
    .link-orange:focus {
        color: #192028;
        text-decoration: none;
    }
.link-blue{
    transition: all 0.3s;
    color:#33a0e5;
    text-decoration: none;
}
.link-blue:hover,
.link-blue:active,
.link-blue:focus {
    color: #192028;
    text-decoration: none;
}

.inform{
    padding: 15px;
    text-align: center;
    font-size: 16px;
    font-weight: 200;
}
.full-mobile{
    @include respond-to(415px){
        width: 100%;
    }
}

.col-2-5{
    width: 20%;
}
