/* BUTTONS */
.btn{
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}
    .btn:hover,
    .btn:focus,
    .btn:active{
        box-shadow: none;
        outline: none;
        text-decoration: none;
    }
.btn-blue {
    color: #ffffff;
    background-image: linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
    background-image: -moz-linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: inherit;
    display: inline-block;
    max-width: 100%;
    padding: 11px 29px;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition:  0.4s ease;
	border:none;
    &:hover,
    &:focus,
    &:active {
        color: #fff;
        opacity: 0.6;
        background-image: linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
        background-image: -moz-linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
    }
    @include respond-to(1200px) {
        letter-spacing: 2.4px;
    }
    @include respond-to(767px) {
       letter-spacing:inherit;
    }
    @include respond-to(415px) {
        width: 100%;
    }
}
.btn-facebook {
    color: #ffffff;
    background-color: #4267b2;
    border: 1px solid #4267b2;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: inherit;
    display: inline-block;
    max-width: 100%;
    letter-spacing: 3.4px;
    padding: 14px 29px;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    &:hover,
    &:focus,
    &:active {
        color: #ffffff;
        background-color: #525b64;
        border-color: #525b64;
    }
    @include respond-to(1200px) {
        letter-spacing: 2.4px;
    }
    @include respond-to(767px) {
        letter-spacing:inherit;
    }
    @include respond-to(415px) {
        width: 100%;
    }
}
.btn-cabinet{
    color: #ffffff;
    background-color: #4280bf;
    border: 1px solid #4280bf;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: inherit;
    display: inline-block;
    max-width: 100%;
    padding: 8px 16px;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    &:hover,
    &:focus,
    &:active{
        color: #ffffff;
        background-color: #525b64;
        border-color: #525b64;
    }
}

.btn-cabinet-blue{
	border:none;
    color: #ffffff;
    background-image: linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
    background-image: -moz-linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: inherit;
    display: inline-block;
    max-width: 100%;
    padding: 9px 16px;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    &:hover,
    &:focus,
    &:active{
        opacity: 0.8;
        color: #fff;
        background-image: linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
        background-image: -moz-linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
    }
}

.btn-cabinet-info{
    color: #ffffff;
    background-color: #00b9ef;
    border: 1px solid #00b9ef;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: inherit;
    display: inline-block;
    max-width: 100%;
    padding: 8px 16px;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    &:hover,
    &focus,
    &:active{
        color: #ffffff;
        background-color: #525b64;
        border-color: #525b64;
    }
}

.btn-cabinet-success{
    color: #ffffff;
    background-color: #4cd964;
    border: 1px solid #4cd964;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: inherit;
    display: inline-block;
    max-width: 100%;
    padding: 8px 16px;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    &:hover,
    &:focus,
    &:active{
        color: #ffffff;
        background-color: #525b64;
        border-color: #525b64;
    }
}


.btn-cabinet-grey{
    color: #303d42;
    background-color: #d7dfe3;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: inherit;
    display: inline-block;
    max-width: 100%;
    padding: 8px 16px;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    &:hover,
    &:focus,
    &:active{
        color: #ffffff;
        opacity: 0.8;
    }
}
