@mixin opacity($p) {
  opacity: $p;
  -webkit-opacity: $p;
  -khtml-opacity: $p;
  -moz-opacity: $p;
  filter:alpha(opacity=$p);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$p)";
}

@mixin bg($top, $btm) {
  background: $top;
  background: -moz-linear-gradient(top, $top 0%, $btm 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$btm));
  background: -webkit-linear-gradient(top, $top 0%,$btm 100%);
  background: -o-linear-gradient(top, $top 0%,$btm 100%);
  background: -ms-linear-gradient(top, $top 0%,$btm 100%);
  background: linear-gradient(to bottom, $top 0%,$btm 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='$btm',GradientType=0 );
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($method) {
  -webkit-transition: $method;
  -moz-transition: $method;
  -o-transition: $method;
  transition: $method;
}

@mixin rotate($d) {
  transform:rotate($d+deg);
  -ms-transform:rotate($d+deg);
  -webkit-transform:rotate($d+deg);
  -o-transform: rotate($d+deg);
}

@mixin box-shadow($shadow){
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin respond-to($media) {
    @media (max-width: $media) { @content; }
}
@mixin respond-to-height($media) {
    @media (max-width: $media) { @content; }
}
