/* FOOTER */
footer{
    .payments-footer{
        /*border-top: 1px solid #E7E7E7;*/
        background: #f0f5f7;
        padding: 30px 0;
        @include respond-to(415px){
            padding: 20px 0 10px;
        }
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            @include respond-to(991px){
                padding: 0;
            }
            li{
                float:left;
				margin-left: 42px;
				&:nth-child(1){
					a{
						img{
							margin-top:5px;
						}
					}
				}
				&:nth-child(5){
					a{
						img{
							margin-top:2px;
						}
					}
				}
				&:nth-child(6){
					a{
						img{
							margin-top:-7px;
						}
					}
				}
                &:first-of-type{
                    margin-left: 0;
                }
                @include respond-to(490px){
                    width: 100%;
                    margin-bottom: 10px;
                    height: 50px;
                }
                a {
                    width: 100%;
                    text-align: center;
                    height: 40px;
                    margin: 0 auto;
                    display: block;
                    -webkit-transition: all .2s ease-in-out;
                    transition: all .2s ease-in-out;
                    &:hover,
                    &:focus,
                    &:active{
                        opacity: .8;
						-webkit-filter: grayscale(80%);
						filter: grayscale(80%);
                    }
                    @include respond-to(700px){
                        padding: 0 5px;
                        img{
                            max-width: 100%;
                        }
                    }
                    @include respond-to(490px){
                        position: relative;
                        height: 50px;
                        img{
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: auto;
                        }
                    }
                }
            }
        }
    }
    .footer-nav{
        margin:38px 0;
        @include respond-to(767px){
            text-align: center;
        }
    }
    .footer-nav a {
        display: inline-block;
        color: #ffffff;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        text-transform: uppercase;
        margin:  0 4px;
        @include transition(all 0.4s ease);
    }
    .footer-nav a:hover,
    .footer-nav a:focus,
    .footer-nav a:active,
    .footer-nav a.active{
        color:#cccccc;
        text-decoration: none;
    }
    .footer-nav a:first-child {
        margin-left:  0 !important;
    }
    .footer-nav a:last-child {
        margin-right:  0 !important;
    }
    .footer-links{
        margin-bottom: 15px;
        a{
            color: white;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            padding: 0 8px;
            transition: all 0.3s;
            &:hover,
            &:focus,
            &:active{
                opacity: 0.8;
            }
            &:first-child{
                padding-left: 0;
            }
        }
        @include respond-to(767px){
            text-align: center;
        }
    }

    .top-footer{
        /*border-top:1px solid #E7E7E7;*/
        background-color: #0f2935;
        .footer-logo {
            background: url(../img/logo/logo-footer.png) no-repeat;
            margin: 0 0 26px;
            display: block;
            width: 166px;
            height: 47px;
            transition: all 0.5s;
            &:hover,
            &:focus,
            &:active{
                opacity: 0.8;
            }
            @include respond-to(767px){
                margin: 0 auto 38px;
            }
        }
        .footer-social{
            display: inline-block;
            margin: 0 0 10px 0;
            width: fit-content;
            @include respond-to(767px){
                display: block;
                margin: 0 auto;
                height: 40px;
            }
            a{
                display: block;
                float:left;
                font-size: 18px;
                text-align: center;
                color:white;
                transition: all 0.3s;
                margin-left: 15px;
                &:hover,
                &:active,
                &:focus {
                    opacity: 0.8;
                    text-decoration: none;
                }
                &:first-child{
                    margin-left: 0;
                }
            }
        }
        .top-footer-text{
            margin-bottom: 0;
            color: #77878e;
            @include respond-to(767px){
                text-align: center;
            }
        }
        .footer-copyright{
            color:#77878e;
            a{
                color:#77878e;
                transition: all 0.3s;
                margin-right: 5px;
                &:hover,
                &:active,
                &:focus {
                    opacity: 0.8;
                    text-decoration: none;
                }
            }
            @include respond-to(767px){
                text-align: center;
            }
        }
		.footer-company-office{
			display: block;
			background: url("../img/footer-office.png") top center no-repeat;
			width: 470px;
			height: 300px;
		}
    }
}



#top{
    line-height: 14px;
    display: block;
    border-radius: 50%;
    width: 50px;
    font-weight: 700;
    height: 50px;
    position: fixed;
    bottom:20px;
    left:-50px;
    background: #33a0e5;
    color:#fff;
    font-size:50px;
    padding-top:0;
    text-align: center;
    z-index: 4;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
    & > i{
        margin-top:-3px;
        font-weight: 200;
    }
    &:hover{
        text-decoration: none;
        background: #525b64;
        color: #fff;
        outline: none;
    }
    &.visible {
        visibility: visible;
        left:20px;
        opacity: 1;
    }
}

/* END FOOTER */