/* START HEADER */
header{
    position: relative;
    z-index: 1;
    .header-top{
        background: #0f2935;
        padding: 6px 0;
        .mobile-right-col{
            @include respond-to(375px){
                padding-right: 0;
            }
        }
        .menu-social{
            float:left;
            display: block;
            margin-left: 35px;
            @include respond-to(550px){
                margin-left: 10px;
            }
            a{
                display: block;
                float:right;
                font-size: 13px;
                text-align: center;
                color:#fff;
                transition: all 0.3s;
                margin-left: 15px;
                @include respond-to(550px){
                    margin-left:10px;
                }
                @include respond-to(375px){
                    margin-left:5px;
                }
                &:hover,
                &:active,
                &:focus {
                    color: #60b7ee;
                    text-decoration: none;
                }
            }
        }
        .right-menu{
            float:right;
            display: block;
            .top-hello{
                float: left;
                color: #Ffffff;
                font-size: 13px;
                margin-right: 10px;
                @include respond-to(550px){
                    width: 100%;
                    text-align: right;
                }
            }
            a{
                display: block;
                float:left;
                font-size: 13px;
                text-align: center;
                color:#fff;
                transition: all 0.3s;
                margin-left: 15px;
                @include respond-to(550px){
                    float:right;
                }
                @include respond-to(375px){
                    margin-left: 10px;
                }
                &:hover,
                &:active,
                &:focus {
                    color: #60b7ee;
                    text-decoration: none;
                }
            }
        }
        .select-language {
            float: left;
            position: relative;
            z-index: 3;
            .language-href {
                font-size: 14px;
                line-height: 15px;
                position: relative;
                margin-top:1px;
                &:before{
                    content: "\f0d7";
                    display: block;
                    position: absolute;
                    font-family: 'FontAwesome', sans-serif;
                    top: 1px;
                    right: -10px;
                    font-size: 10px;
                    color: #fff;
                }
                a {
                    font-weight: 400;
                    color: #fff;
                    font-size: 14px;
                    text-decoration: none;
                    position: relative;
                    @include transition(all 0.4s ease);
                    &:hover,
                    &:active,
                    &:focus {
                        color: #60b7ee;
                        text-decoration: none;
                    }
                }
            }
            .language-tab {
                display: none;
                border-top: 2px solid #60b7ee;
                background: #0f2935;
                width: 100px;
                position: absolute;
                top: 24px;
                left: -20px;
                z-index: 4;
                font-size: 15px;
                line-height: 26px;
                box-shadow: 0px 24px 20px 0px rgba(0, 1, 1, 0.04);
                padding: 10px 15px;
                .language-list {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    li {
                        width: 100%;
                        float: left;
                        a {
                            text-align: center;
                            font-weight: 400;
                            margin: 4px 0;
                            font-size: 14px;
                            color: #fff;
                            line-height: 16px;
                            display: block;
                            width: 100%;
                            text-decoration: none;
                            @include transition(all 0.4s ease);
                            &:hover,
                            &:focus,
                            &:active,
                            &.active{
                                text-decoration: none;
                                color: #60b7ee;
                            }
                            &.disabled{
                                opacity: 0.5;
                                pointer-events: none;
                                cursor: default;
                            }
                        }
                    }
                }
                .tab-header{
                    font-size: 14px;
                    color: #363636;
                    text-transform: uppercase;
                    line-height: 20px;
                    margin: 10px 0 15px;
                    font-weight: 700;
                }
            }
            &.active{
                .language-tab {
                    display: block;
                }
            }
        }
    }
    .header{
        .logo {
            background: url("../img/logo/logo-header.png") no-repeat;
            margin: 35px 0;
            display: block;
            float: left;
            width: 166px;
            height: 47px;
            transition: all 0.5s;
            &:hover,
            &:focus,
            &:active{
                opacity: 0.8;
            }

            @include respond-to(767px){
                margin: 32px 0 0 0;
                width: 235px;
                height: 60px;
                background-size: contain;
            }


        }
    }
}
.language-href .flag,
.language-list .flag {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background: url('../img/sprite_flag.png');
    background-position-x: center;
    display: block;
    float: left;
    margin-right: 9px;
    &.flag_ru,
    &.flag_ru {
        background-position: 0 -18px;
        background-position-x: center;
    }
    &.flag_de,
    &.flag_de {
        background-position: 0 -35px;
        background-position-x: center;
    }
    &.flag_fr,
    &.flag_ge {
        background-position: 0 -53px;
        background-position-x: center;
    }
    &.flag_fr,
    &.flag_fr {
        background-position: 0 -71px;
        background-position-x: center;
    }
    &.flag_cn,
    &.flag_cn {
        background-position: 0 -160px;
        background-position-x: center;
    }
    &.flag_hi,
    &.flag_hi {
        background-position: 0 -178px;
        background-position-x: center;
    }
}
.header-menu{
	background:#0f2935 url("../img/pages/pages.png") bottom center no-repeat;
    position: relative;
    width: 100%;
    &.homepage{
        position: absolute;
        background: transparent;
    }
	&.about-us{
		background: url("../img/pages/about_us.jpg") top center no-repeat;
	}
	&.faq-page{
		background: url("../img/pages/faq.jpg") top center no-repeat;
	}
	&.contacts{
		background: url("../img/pages/contacts.jpg") top center no-repeat;
	}
	.header-page-title{
		font-size: 80px;
		font-weight: bold;
		font-family: 'Ubuntu', sans-serif;
		text-align: center;
		color:#ffffff;
		margin-bottom: 54px;
		text-transform: uppercase;
	}
}
.mobile{
    display: none;
    position: absolute;
    top: 10px;
    right: 0;
    overflow: hidden;
    @include respond-to(767px){
        display: block;
    }
    .mobileMenu{
        cursor: pointer;
        width: 30px;
        height: 30px;
        position: relative;
        font-size: 30px;
        float: right;
        margin: 30px 15px;
        color: #60b7ee;
    }
    &.active{
        overflow: inherit;
        .mobileMenu{
            display: none;
        }
        .popupMenu{
            z-index: 30;
            opacity: 1;
            transform: rotate3d(1,1,0,0deg);
            pointer-events: auto;
            .popupContainer{
                .popupCloseButton {
                    display: block;
                }
            }
        }
    }
    .popupMenu{
        padding: 0;
        -webkit-box-shadow: 0px 5px 20px 0px rgba(3, 3, 3, 0.3);
        -moz-box-shadow:    0px 5px 20px 0px rgba(3, 3, 3, 0.3);
        box-shadow:         0px 5px 20px 0px rgba(3, 3, 3, 0.3);

        overflow: hidden;
        z-index: -1;
        position: absolute;
        width: 450px;
        left: auto;
        top: 10px;
        right: 10px;
        perspective: 2000px;

        opacity: 0;
        transform: rotate3d(1,1,0,-20deg);
        transform-origin: 100% 0;

        will-change: transform,opacity;
        transition-property: transform,opacity;
        transition-duration: .25s;

        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: end;
        justify-content: flex-end;
        pointer-events: none;
        @include respond-to(490px){
            width: 100%;
            min-width: 390px;
        }
        @include respond-to(420px){
            width: 100%;
            min-width: 290px;
        }
        .popupContainer{
            background: #fff;
            overflow: hidden;
            position: relative;
            .popup-top-menu{
                padding: 20px 30px 10px 30px;
                display: flex;
                ul{
                    margin:0;
                    padding: 0;
                    li{
                        list-style: none;
                        float:left;
                        width: 50%;
                        @include respond-to(420px){
                            width: 100%;
                            line-height: 24px;
                        }
                        a{
                            display: inline-block;
                            white-space: nowrap;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                            font-size: 16px;
                            line-height: 25px;
                            font-weight: 700;
                            margin: 0;
                            padding: 0;
                            transition: all .1s ease;
                            text-decoration: none;
                            -webkit-tap-highlight-color: transparent;
                            color: #333333;
                            text-transform: uppercase;
                            position: relative;
                            &:hover,
                            &:focus,
                            &:active{
                                color: #000000;
                                text-decoration: none;
                            }
                            &.active{
                                color: #000000;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
            .popup-center-menu{
                background: #ebebeb;
                padding: 20px 30px;
                display: flex;
                border-bottom: 1px solid #edf0f4;
                ul{
                    margin:0;
                    padding: 0;
                    width: 100%;
                    li{
                        list-style: none;
                        float:left;
                        width: 50%;
                        a {
                            display: inline-block;
                            white-space: nowrap;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                            font-size: 16px;
                            line-height: 16px;
                            font-weight: 400;
                            margin: 0;
                            padding: 0;
                            transition: all .1s ease;
                            text-decoration: none;
                            color: #333333;
                            height: 16px;
                            position: relative;
                            i {
                                transition: all .1s ease;
                            }
                            &:hover,
                            &:focus,
                            &:active,
                            &.active{
                                color: #60b7ee;
                                text-decoration: none;
                                i{
                                    margin-left:5px;
                                    transition: all .1s ease;
                                }
                            }
                        }
                    }
                }
            }
            .popup-bottom-menu{
                background: #f6f9fc;
                padding: 20px 30px;
                display: flex;
                margin-bottom: -5px;
                @include respond-to(420px){
                    padding: 20px 10px 20px 30px;
                }
                ul{
                    margin:0;
                    padding: 0;
                    &.language-list{
                        li{
                            list-style: none;
                            line-height: 20px;
                            width: 25%;
                            @include respond-to(420px){
                                width: 50%;
                            }
                            a{
                                height: auto;
                                padding: 0;
                                line-height: 16px;
                                text-align: left;
                                .flag{
                                    width: 22px;
                                    height: 16px;
                                    border-radius: 0;
                                }
                            }
                        }
                    }
                }
            }
            .popupCloseButton {
                cursor: pointer;
                float: right;
                position: absolute;
                right: 0;
                top: 0;
                width: 50px;
                height: 50px;
                display: none;
                &:after{
                    content: '';
                    position: absolute;
                    background: #60b7ee;
                    border-radius: 1px;
                    left: auto;
                    right: 14px;
                    top: 24px;
                    height: 3px;
                    width: 23px;
                    transform: rotate(-45deg);
                    transition: background .1s;
                }
                &:before {
                    content: '';
                    position: absolute;
                    background: #60b7ee;
                    border-radius: 1px;
                    left: auto;
                    right: 14px;
                    top: 24px;
                    height: 3px;
                    width: 23px;
                    transform: rotate(45deg);
                    transition: background .1s;
                }
            }
        }
    }
}
.main-menu{
    float: right;
    margin: 35px 0;
    @include respond-to(767px){
        display: none;
    }
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            float: left;
            margin-right: 7px;
            &:last-of-type{
                margin-right: 0;
                a{
                    padding-right: 0;
                }
            }
            a {

                padding: 15px 10px 13px;
                display: block;
                color: #fff;
                text-transform: uppercase;
                font-weight: 500;
                font-style: normal;
                font-size: 14px;
                -webkit-transition: .3s all ease;
                -o-transition: .3s all ease;
                transition: .3s all ease;
                position: relative;
                @include respond-to(991px) {
                    padding: 15px 2px 13px;
                }
                &:after {
                    background: #60b7ee;
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    height: 0;
                    width: 0;
                    -webkit-transition: .3s all ease;
                    -o-transition: .3s all ease;
                    transition: .3s all ease;
                }
                &:hover,
                &:focus,
                &:active,
                &.active{
                    text-decoration: none;
                    color:#60b7ee;
                    &:after,
                    &:after,
                    &:after,
                    &:after{
                        left: 0;
                        height: 2px;
                        width: 100%;
                    }
                }
            }
        }
    }
}
/* END HEADER */