//= templates/header.html
<section class="homepage-slider">
    <div class="slider-wrapper">
        <div class="parallax-background" style="background-image: url('img/homepage/slider_top/slide_1_bg.png');"></div>
        <div class="parallax-slider">
            <div class="container">
                <ul id="scene_1" class="js-paralax_zone banner_none js-banner_1"
                    data-calibrate-x="false"
                    data-calibrate-y="false"
                    data-invert-x="true"
                    data-invert-y="false"
                    data-limit-x="true"
                    data-limit-y="0"
                    data-scalar-x="2"
                    data-scalar-y="0"
                    data-friction-x="0.2"
                    data-friction-y="0.8"
                    data-origin-x="0.0"
                    data-origin-y="0.0"
                    data-bgheader="..img/homepage/slider_top/slide_1_bg.png">

                    <li class="layer little-cap2" data-depth="2.00" style="z-index: 50;">
                        <img src="img/homepage/slider_top/big_number.png" style="margin: 300px 0 0 345px;">
                    </li>
                    <li class="layer little-cap4" data-depth="1.00" style="z-index: 60; position: absolute;">
                        <p class="middle-headline" style="margin: 160px 0 0 100px;">
                            <span>Want to be a part of Crypto-Revolution?</span><br/>
                            Invest in new technologies and get a stable profit!</p>
                    </li>
                    <li class="layer little-cap4" data-depth="1.00" style="z-index: 40;">
                        <img src="img/homepage/slider_top/slide_1_flags.png" style="margin: 285px 0 0 -275px;">
                    </li>
                    <li class="layer little-cap5" data-depth="2.50" style="z-index: 50;">
                        <p class="top-headline" style="margin: 430px 0 0 420px">
                            <span>after 360 days</span>
                        </p>
                    </li>
                    <li class="layer little-cap6" data-depth="2.00" style="z-index: 60;">
                        <div class="top-invest-buttons" style="margin: 540px 0 0 400px;">
                            <a class="btn btn-blue" href="https://litetrade.org/signup" style="min-width: 370px;">START NOW</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="js-progress-bar" style="position: absolute; bottom: 0; left: 0; right: auto; height: 5px; z-index: 2; width: 100%; background-color: #f0f5f7;">
            <span class="js-progress-bar-fill" style="width: 0%; display: block; background: #60b7ee; height: 100%;"></span>
        </div>
    </div>
</section>

<section id="plans">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="what-title-1">Основные направления деятельности</p>
                <p class="what-title-2">Инвестируй в одно из направлений</p>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="plan_tab_link">
                        <div class="col-sm-4 col-xs-12"><a href="javascript:void(0);" data-tab="trade" class="btn-blue active">Трейдинг</a></div>
                        <div class="col-sm-4 col-xs-12"><a href="javascript:void(0);" data-tab="mining" class="btn-blue">Майнинг</a></div>
                        <div class="col-sm-4 col-xs-12"><a href="javascript:void(0);" data-tab="innovation" class="btn-blue">Инновации</a></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="plan_tab_wrapper">
                    <div id="trade" class="plan_tab" style="display: block;">
                        <p class="tab_description">
                            Одно из направлений работы нашей компании – трейдинг лайткоином, биткоином и другими криптовалютами. Курс криптовалют имеет большую волатильность, что при правильно организованной работе дает высокие доходы. Вы инвестируете сумму на определенный срок, в конце которого вы получаете тело депозита вместе с прибылью. Обратите внимание, что мы ведем трейдерскую деятельность только в бизнес-дни.
                        </p>
                        <div class="table-responsive">
                            <table class="table tab_table">
                                <tr>
                                    <td>Period</td>
                                    <td>Total Return</td>
                                    <td>Min Deposit</td>
                                    <td>Max Deposit</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>6 <small>business days</small></td>
                                    <td>110,00 %</td>
                                    <td>0,0500 BTC</td>
                                    <td>1,0000 BTC</td>
                                    <td><a href="javascript:void(0);" class="btn-blue small_btn">Invest</a></td>
                                </tr>
                                <tr>
                                    <td>11 <small>business days</small></td>
                                    <td>122,00 %</td>
                                    <td>0,0250 BTC</td>
                                    <td>2,0000 BTC</td>
                                    <td><a href="javascript:void(0);" class="btn-blue small_btn">Invest</a></td>
                                </tr>
                                <tr>
                                    <td>16 <small>business days</small> <span class="popular_plan">Popular</span></td>
                                    <td>136,00 %</td>
                                    <td>0,0100 BTC</td>
                                    <td>5,0000 BTC</td>
                                    <td><a href="javascript:void(0);" class="btn-blue small_btn">Invest</a></td>
                                </tr>
                                <tr>
                                    <td>21 <small>business days</small> <span class="recommended_plan">Recommended</span></td>
                                    <td>152,00 %</td>
                                    <td>0,0075 BTC</td>
                                    <td>10,0000 BTC</td>
                                    <td><a href="javascript:void(0);" class="btn-blue small_btn">Invest</a></td>
                                </tr>
                                <tr>
                                    <td>26 <small>business days</small></td>
                                    <td>170,00 %</td>
                                    <td>0,0050 BTC</td>
                                    <td>20,0000 BTC</td>
                                    <td><a href="javascript:void(0);" class="btn-blue small_btn">Invest</a></td>
                                </tr>
                                <tr>
                                    <td>31 <small>business days</small> <span class="profitable_plan">Profitable</span></td>
                                    <td>380,00 %</td>
                                    <td>0,0250 BTC</td>
                                    <td>50,0000 BTC</td>
                                    <td><a href="javascript:void(0);" class="btn-blue small_btn">Invest</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="mining" class="plan_tab">
                        <p class="tab_description">
                            Мы сотрудничаем с производителями оборудования для майнинга и ведем собственные  разработки ASIC-майнеров, которые позволят нам более эффективно работать на этом рынке. Инвеструя в майнинг, вы берете в аренду наше оборудование и получаете ежедневную прибыль, не выходя из дома. В конце срока аренды мы возвращаем вам 100% ваших инвестиций.
                        </p>
                        <div class="table-responsive">
                            <table class="table tab_table">
                                <tr>
                                    <td>Period</td>
                                    <td>Daily Profit</td>
                                    <td>Total Return</td>
                                    <td>Min Deposit</td>
                                    <td>Max Deposit</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>30 <small>calendar days</small></td>
                                    <td>4.00 %</td>
                                    <td>120,00 %</td>
                                    <td>0,0010 BTC</td>
                                    <td>0,0100 BTC</td>
                                    <td><a href="javascript:void(0);" class="btn-blue small_btn">Invest</a></td>
                                </tr>
                                <tr>
                                    <td>30 <small>calendar days</small></td>
                                    <td>4.20 %</td>
                                    <td>126,00 %</td>
                                    <td>0,0101 BTC</td>
                                    <td>0,1000 BTC</td>
                                    <td><a href="javascript:void(0);" class="btn-blue small_btn">Invest</a></td>
                                </tr>
                                <tr>
                                    <td>30 <small>calendar days</small>   <span class="popular_plan">Popular</span></td>
                                    <td>4,40 %</td>
                                    <td>132,00 %</td>
                                    <td>0,1001 BTC</td>
                                    <td>1,0000 BTC</td>
                                    <td><a href="javascript:void(0);" class="btn-blue small_btn">Invest</a></td>
                                </tr>
                                <tr>
                                    <td>30 <small>calendar days</small>   <span class="recommended_plan">Recommended</span></td>
                                    <td>4,60 %</td>
                                    <td>138,00 %</td>
                                    <td>1,0001 BTC</td>
                                    <td>3,0000 BTC</td>
                                    <td><a href="javascript:void(0);" class="btn-blue small_btn">Invest</a></td>
                                </tr>
                                <tr>
                                    <td>30 <small>calendar days</small></td>
                                    <td>4,80 %</td>
                                    <td>144,00 %</td>
                                    <td>3,0001 BTC</td>
                                    <td>5,0000 BTC</td>
                                    <td><a href="javascript:void(0);" class="btn-blue small_btn">Invest</a></td>
                                </tr>
                                <tr>
                                    <td>30 <small>calendar days</small> <span class="profitable_plan">Profitable</span></td>
                                    <td>5,00 %</td>
                                    <td>150,00 %</td>
                                    <td>5,0001 BTC</td>
                                    <td>50,0000 BTC</td>
                                    <td><a href="javascript:void(0);" class="btn-blue small_btn">Invest</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="innovation" class="plan_tab">
                        <p class="tab_description">
                            Мы не останавливаемся на достигнутом и расширяем свою деятельность. Мы вкладываем средства в ICO, стартапы, разработку собственных устройств для майнинга и создание собственной криптовалюты. Если вы доверяете нашей компании и готовы сделать долгосрочные инвестиции, то мы готовы поделиться с вами значительной частью своей прибыли!
                        </p>
                        <div class="table-responsive">
                            <table class="table tab_table">
                                <tr>
                                    <td>Period</td>
                                    <td>Total Return</td>
                                    <td>Min Deposit</td>
                                    <td>Max Deposit</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>90 <small>calendar days</small></td>
                                    <td>300,00 %</td>
                                    <td>0,0025 BTC</td>
                                    <td>10,0000 BTC</td>
                                    <td><a href="javascript:void(0);" class="btn-blue small_btn">Invest</a></td>
                                </tr>
                                <tr>
                                    <td>180 <small>calendar days</small></td>
                                    <td>800,00 %</td>
                                    <td>0,0020 BTC</td>
                                    <td>20,0000 BTC</td>
                                    <td><a href="javascript:void(0);" class="btn-blue small_btn">Invest</a></td>
                                </tr>
                                <tr>
                                    <td>270 <small>calendar days</small> <span class="popular_plan">Popular</span></td>
                                    <td>1500,00 %</td>
                                    <td>0,0015 BTC</td>
                                    <td>50,0000 BTC</td>
                                    <td><a href="javascript:void(0);" class="btn-blue small_btn">Invest</a></td>
                                </tr>
                                <tr>
                                    <td>360 <small>calendar days</small> <span class="profitable_plan">Profitable</span></td>
                                    <td>2400,00 %</td>
                                    <td>0,0010 BTC</td>
                                    <td>100,0000 BTC</td>
                                    <td><a href="javascript:void(0);" class="btn-blue small_btn">Invest</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="plan_tab_calculator">

                        <p class="calculator_head">Calculate your profit</p>
                        <div class="row deposit_row">
                            <div class="col-xs-12 col-2-5">
                                <div class="deposit_input">
                                    <label for="payment">Select period:</label>
                                    <div class="home_count_box">
                                        <select class="amount_input" id="payment">
                                            <option value="1">15 business days</option>
                                            <option value="1">30 business days</option>
                                            <option value="1">45 business days</option>
                                            <option value="1">60 business days</option>
                                            <option value="1">75 business days</option>
                                            <option value="1">90 business days</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-2-5">
                                <div class="deposit_input">
                                    <label for="payment">Select currency:</label>
                                    <div class="home_count_box">
                                        <select class="amount_input" id="payment">
                                            <option selected="" data-currency="BTC" value="10000" data-payment="48">Bitcoin, BTC</option>
                                            <option value="1" data-currency="USD" data-payment="18">Dollar, USD</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-2-5">
                                <div class="deposit_input">
                                    <label>Enter amount:</label>
                                    <div class="home_count_box">
                                        <input type="text" class="amount_input" id="amount-in" value="0.0025">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-2-5">
                                <div class="deposit_input">
                                    <label>DAILY PROFIT:</label>
                                    <div class="deposit_count_box">
                                        <span id="percent-in">0.0145</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-2-5">
                                <div class="deposit_input">
                                    <label>TOTAL RETURN: </label>
                                    <div class="deposit_count_box">
                                        <span id="total-in">1.8700</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="what-title-1">about litetrade limited</p>
                <p class="what-title-2">Инвестиционная компания нового поколения</p>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="partners-video">
                    <div class="video-container collapsed show-play">
                        <div class="video">
                            <video width="100%">
                                <source src="video/bcg_video.mp4" type="video/mp4">
                            </video>
                            <div class="play"></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-6 col-sm-offset-6">
                <div class="about_description">
                    <p>В 2017-ом году мы собрали команду опытных трейдеров и финансистов и создали инвестиционную компанию нового поколения Literade Limited. Наша цель –  присоединиться к криптореволюции и стать частью децентрализованной финансовой системы. Для этого мы развиваем все существующие направления в криптоиндустрии: майнинг трейдинг, инвестирование в ICO и стартапы.</p>
                    <p><b>Присоединяйтесь к нам, выбирайте инвистиции по своему вкусу и мы вместе с вами достигнем успеха в новой эпохе!</b></p>
                    <a href="https://beta.companieshouse.gov.uk/company/11115088" target="_blank" class="lite_certificate">
                        LITETRADE LIMITED <br>
                        Company number 11115088
                    </a>
                    <a target="_blank" href="https://www.sslshopper.com/ssl-checker.html#hostname=litetrade.org" class="comodo_certificate"></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="statistic">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="what-title-1">Капиталицация, деятельность, прибыль</p>
                <p class="what-title-2">Статистика компании</p>
            </div>

            <div class="col-md-3">
                <div class="stat_data">
                    <p class="stat_title">
                        Капитализация
                    </p>
                    <ul class="stat_list">
                        <li>Уставной фонд<span>500,0000 BTC</span></li>
                        <li>Инвестиции<span>

                                    0.000000
                                 BTC
                            </span>
                        </li>
                        <li>Количество инвесторов<span>123</span></li>
                    </ul>
                    <p class="stat_title">
                        Деятельность
                    </p>
                    <ul class="stat_list">
                        <li>Майнинг<span>20,42%</span></li>
                        <li>Трейдинг<span>35,12%</span></li>
                        <li>Инновации<span>54,46%</span></li>
                    </ul>
                    <p class="stat_title">
                        Прибыль
                    </p>
                    <ul class="stat_list">
                        <li>Прибыль компании<span>123,4567 BTC</span></li>
                        <li>Выплаты инвесторам<span>

                                    0.000000
                                 BTC
                            </span></li>
                        <li>Баунти программа<span>1,2345 BTC</span></li>
                        <li>Бонусы<span>1,2345 BTC</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 hidden-xs">
                <div class="stat_circles">

                    <div class="first_circle">
                        <div class="circle"></div>
                        <div class="circle_line"></div>
                    </div>
                    <div class="second_circle">
                        <div class="circle"></div>
                        <div class="circle_line"><div class="sub_line"></div></div>
                    </div>
                    <div class="third_circle">
                        <div class="circle"></div>
                        <div class="circle_line"><div class="sub_line"></div></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <p class="text-center">
                    <a class="btn btn-blue" href="https://litetrade.org/signup">INVEST</a>
                </p>
            </div>

        </div>
    </div>
</section>

<section id="partners">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="what-title-1">Partnership</p>
                <p class="what-title-2">Сотрудничество с Litetrade Limited</p>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="partner_info">
                    <div class="partner_info_image_first"></div>
                    <p class="partner_info_title">Партнерская программа</p>
                    <p class="partner_info_desc">Партнерская программа поможет вам получить дополнительный доход, привлекая новых инвесторов в систему. Наша цель – развить обширную партнерскую сеть по всему миру.</p>
                    <a href="javascript:void(0);" class="btn-blue">узнать больше</a>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="partner_info">
                    <div class="partner_info_image_second"></div>
                    <p class="partner_info_title">Баунти программа</p>
                    <p class="partner_info_desc">Баунти программа – это возможность бесплатно получить биткоины, соблюдая обязательные условия и выполняя простые действия, направленные на популяризацию платформы.</p>
                    <a href="javascript:void(0);" class="btn-blue">узнать больше</a>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="partner_info">
                    <div class="partner_info_image_third"></div>
                    <p class="partner_info_title">Карьера в нашей компании</p>
                    <p class="partner_info_desc">Вы опытный трейдер? Вы лидер, имеющий свою команду? Вы готовы оказывать консультационную поддержку нашим клиентам? Тогда мы ждем ваше резюме.</p>
                    <a href="javascript:void(0);" class="btn-blue">узнать больше</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="philosophy">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="what-title-1">Философия litetrade limited</p>
                <p class="what-title-2">Основные принципы нашей компании</p>
            </div>

            <div class="col-md-11 col-sm-11 col-xs-12">
                <ul class="philosophy_list">

                    <li>
                        <div class="philosophy_img_1"></div>
                        <p class="philosophy_title">Инновации</p>
                        <p class="philosophy_description">За последние несколько лет человечество увидело невероятные истории успеха, связанные с интеренет-технологиями, социальными сетями и криптовалютами.В 21-ом веке вы можете успешными, занимаясь традиционным бизнесом, но если вы хотите иметь взрывной рост - ваш бизнес должен быть основан на инновациях. Поэтому основная цель компании - это поиск новых технологий, инвестирование в них, использование самых передовых практик в управлении и организации труда. Мы стараемся увидеть то, что не видят другие и использовать это во благо компании.</p>
                    </li>
                    <li>
                        <div class="philosophy_img_2"></div>
                        <p class="philosophy_title">Аналитика</p>
                        <p class="philosophy_description">Залог высоких прибылей - постоянный мониторинг и анализ всего происходящего на финансовом рынке, в мире инвестиций и криптовалют. Мы собираем статистические данные со всего мира, следим за новыми тенденциями в мире технологий, проводим всесторонний анализ. Аналитика помогает получить картину действительного состояния дел, раскрыть закономерности тех или иных явлений, сделать такие прогнозы и принять такие решения, которые сделают риски компании и ее инвесторов минимальными.</p>
                    </li>
                    <li>
                        <div class="philosophy_img_3"></div>
                        <p class="philosophy_title">Прозрачность</p>
                        <p class="philosophy_description">Работа нашей компании полностью прозрачна. Litetrade Limited зарегистрирована в Великобритании, номер компании: # 11115088. Достигнув определенного статуса в нашей системе, согласно партнерской программе, вы можете получить на руки инвестиционный договор. А став одним из ведущих инвесторов, сертификат акций компании.</p>
                    </li>
                    <li>
                        <div class="philosophy_img_4"></div>
                        <p class="philosophy_title">Люди</p>
                        <p class="philosophy_description">Для того чтобы запустить по настоящему инновационный и высокодоходный проект, нужно доверие людей. Одна из наших главных задач - сформировать команду единомышленников, которые присоединятся к нам и будут развивать свой бизнес вместе с нами. Для этого мы стараемся наладить тесные взаимосвязи с каждым клиентом и тщательно изучить поступающую от него информацию. Наша служба поддержки готова ответить на интересующие Вас вопросы и выслушать ваши предложения по улучшению работы проекта.</p>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12">
                <p class="text-center">
                    <a class="btn btn-blue" href="https://litetrade.org/signup">INVEST</a>
                </p>
            </div>

        </div>
    </div>
</section>
//= templates/footer.html