//= templates/header.html
<div class="partner">
	<section class="homepage-slider">
		<div class="first">
			<div class="container">
				<div class="row text-center">
					<h1 class="first__title">партнерская программа</h1>
					<p class="first__subtitle"> Вы привлекаете новых инвесторов, за это мы Вам выплачиваем дополнительный доход. Всемирная партнерская сеть – одна из стратегических целей компании. Партнерская программа поможет вам получить дополнительный доход, привлекая новых инвесторов в систему. Наша цель – развить обширную партнерскую сеть по всему миру.</p>
					<div class="top-invest-buttons">
						<a class="btn btn-blue" href="https://litetrade.org/signup" style="min-width: 370px;">СТАТЬ ПАРТНЕРОМ</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="status">
		<div class="container">
			<div class="row text-center">
				<p class="status__title">статусы обычных инвесторов</p>
				<p class="status__subtitle">Указанные ниже статусы присваиваются автоматически и зависят
	только от количества активных приглашеннных инвесторов</p>
				<div class="status__type user-type">
					<p class="user-type__title">Junior User</p>
					<p class="user-type__subtitle">Статус присваивается любому <br> участнику сразу после регистрации</p>
					<div class="card-label card-label_proc">
						<p class="card-label__title">
							<span class="card-label__title_large">3</span>
							<span class="card-label__title_small">-2</span>
							<span class="card-label__title_tiny">-1%</span></p>
						<p class="card-label__subtitle">Процентная ставка</p>
						<div class="card-label__ico">%</div>
					</div>
					<div class="card-label card-label_usd">
						<p class="card-label__title">Макксимальный лимит <br> на вывод средств:</p>
						<p class="card-label__subtitle">1 BTC ежедневно</p>
						<div class="card-label__ico">$</div>
					</div>
					<div class="user-type__lines lines">
						<div class="lines__first lines__first_jun" data-proc="3%"></div>
						<div class="lines__second" data-proc="2%"></div>
						<div class="lines__third" data-proc="1%"></div>
					</div>
				</div>
				<div class="status__type user-type">
					<p class="user-type__title user-type__title_bold">Middle User</p>
					<p class="user-type__subtitle">
						Статус присваивается участнику, <br>
						который пригласил не менее 10 <br>
						активных инвесторов
					</p>
					<div class="card-label card-label_proc">
						<p class="card-label__title">
							<span class="card-label__title_large">4</span>
							<span class="card-label__title_small">-2</span>
							<span class="card-label__title_tiny">-1%</span></p>
						<p class="card-label__subtitle">Процентная ставка</p>
						<div class="card-label__ico">%</div>
					</div>
					<div class="card-label card-label_usd">
						<p class="card-label__title">Макксимальный лимит <br> на вывод средств:</p>
						<p class="card-label__subtitle">1 BTC ежедневно</p>
						<div class="card-label__ico">$</div>
					</div>
					<div class="user-type__lines lines">
						<div class="lines__first lines__first_mid" data-proc="4%"></div>
						<div class="lines__second" data-proc="2%"></div>
						<div class="lines__third" data-proc="1%"></div>
					</div>
				</div>
				<div class="status__type user-type">
					<p class="user-type__title user-type__title_bold">Senior User</p>
					<p class="user-type__subtitle">
						Статус присваивается участнику, <br>
						который пригласил не менее 25 <br>
						активных инвесторов
					</p>
					<div class="card-label card-label_proc">
						<p class="card-label__title">
							<span class="card-label__title_large">5</span>
							<span class="card-label__title_small">-2</span>
							<span class="card-label__title_tiny">-1%</span></p>
						<p class="card-label__subtitle">Процентная ставка</p>
						<div class="card-label__ico">%</div>
					</div>
					<div class="card-label card-label_usd">
						<p class="card-label__title">Макксимальный лимит <br> на вывод средств:</p>
						<p class="card-label__subtitle">1 BTC ежедневно</p>
						<div class="card-label__ico">$</div>
					</div>
					<div class="user-type__lines lines">
						<div class="lines__first lines__first_sen" data-proc="5%"></div>
						<div class="lines__second" data-proc="2%"></div>
						<div class="lines__third" data-proc="1%"></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="members">
		<div class="container">
			<div class="row text-center">
				<p class="members__title">статусы представителей</p>
				<p class="members__subtitle">Каждый из статусов представителей можно получить только в ручном режиме, после отправки соответствующей формы (ссылка), обработки заявки администрацией на предмет выполнения условий. Проверьте выполнены ли вами условия присвоения статуса, нажмите кнопку "Стать партнером", заполните и отправьте нам заявку</p>
				<div class="members__type user-type">
					<p class="user-type__title user-type__title_bold">Junior <br>Representative</p>
					<p class="user-type__subtitle">
						Статус присваивается участнику, <br>
						который пригласил не менее 25 <br>
						активных инвесторов, оборот <br>
						структуры которого достиг 0,5 BTC, <br>
						а личные инвестиции 0.05 BTC
					</p>
					<div class="card-label card-label_proc">
						<p class="card-label__title">
							<span class="card-label__title_large">5</span>
							<span class="card-label__title_small">-3</span>
							<span class="card-label__title_tiny">-1%</span></p>
						<p class="card-label__subtitle">Процентная ставка</p>
						<div class="card-label__ico">%</div>
					</div>
					<div class="card-label card-label_usd">
						<p class="card-label__title">Вывод средств:</p>
						<p class="card-label__subtitle">Без максимального <br> лимита</p>
						<div class="card-label__ico">$</div>
					</div>
					<div class="user-type__lines lines">
						<div class="lines__first lines__first_mjun" data-proc="5%"></div>
						<div class="lines__second lines__second_medium" data-proc="3%"></div>
						<div class="lines__third" data-proc="1%"></div>
					</div>
				</div>
				<div class="members__type user-type">
					<p class="user-type__title user-type__title_bold">Middle <br>Representative</p>
					<p class="user-type__subtitle">
						Статус присваивается участнику, <br>
						который пригласил не менее 50 <br>
						активных инвесторов, оборот <br>
						структуры которого достиг 1 BTC, <br>
						а личные инвестиции 0.05 BTC
					</p>
					<div class="card-label card-label_proc">
						<p class="card-label__title">
							<span class="card-label__title_large">6</span>
							<span class="card-label__title_small">-3</span>
							<span class="card-label__title_tiny">-1%</span></p>
						<p class="card-label__subtitle">Процентная ставка</p>
						<div class="card-label__ico">%</div>
					</div>
					<div class="card-label card-label_usd">
						<p class="card-label__title">Вывод средств:</p>
						<p class="card-label__subtitle">Без максимального <br> лимита</p>
						<div class="card-label__ico">$</div>
					</div>
					<div class="user-type__lines lines">
						<div class="lines__first lines__first_mmid" data-proc="6%"></div>
						<div class="lines__second lines__second_medium" data-proc="3%"></div>
						<div class="lines__third" data-proc="1%"></div>
					</div>
				</div>
				<div class="members__type user-type">
					<p class="user-type__title user-type__title_bold">Senior <br>Representative</p>
					<p class="user-type__subtitle">
						Статус присваивается участнику, <br>
						который пригласил не менее 100 <br>
						активных инвесторов, оборот <br>
						структуры которого достиг 2 BTC, <br>
						а личные инвестиции 0.2 BTC
					</p>
					<div class="card-label card-label_proc">
						<p class="card-label__title">
							<span class="card-label__title_large">8</span>
							<span class="card-label__title_small">-3</span>
							<span class="card-label__title_tiny">-1%</span></p>
						<p class="card-label__subtitle">Процентная ставка</p>
						<div class="card-label__ico">%</div>
					</div>
					<div class="card-label card-label_usd">
						<p class="card-label__title">Вывод средств:</p>
						<p class="card-label__subtitle">Без максимального <br> лимита</p>
						<div class="card-label__ico">$</div>
					</div>
					<div class="user-type__lines lines">
						<div class="lines__first lines__first_msen" data-proc="8%"></div>
						<div class="lines__second lines__second_medium" data-proc="3%"></div>
						<div class="lines__third" data-proc="1%"></div>
					</div>
				</div>
				<div class="members__type user-type">
					<p class="user-type__title user-type__title_bold">Lead <br>Representative</p>
					<p class="user-type__subtitle">
						Статус присваивается участнику, <br>
						который пригласил не менее 200 <br>
						активных инвесторов, оборот <br>
						структуры которого достиг 5 BTC, <br>
						а личные инвестиции 0.5 BTC
					</p>
					<div class="card-label card-label_proc">
						<p class="card-label__title">
							<span class="card-label__title_large">9</span>
							<span class="card-label__title_small">-4</span>
							<span class="card-label__title_tiny">-1%</span></p>
						<p class="card-label__subtitle">Процентная ставка</p>
						<div class="card-label__ico">%</div>
					</div>
					<div class="card-label card-label_usd">
						<p class="card-label__title">Вывод средств:</p>
						<p class="card-label__subtitle">Без максимального <br> лимита</p>
						<div class="card-label__ico">$</div>
					</div>
					<div class="user-type__lines lines">
						<div class="lines__first lines__first_mlead" data-proc="9%"></div>
						<div class="lines__second lines__second_medium" data-proc="4%"></div>
						<div class="lines__third" data-proc="1%"></div>
					</div>
					<div class="user-type__add">
						<div data-text="Высылаем на email инвестиционный договор" class="user-type__add-card user-type__add-card-mail"></div>
						<div data-text="Высылаем на email диплом" class="user-type__add-card user-type__add-card-diplom"></div>
					</div>
				</div>
				<div class="members__type user-type">
					<p class="user-type__title user-type__title_bold user-type__title_img"><img src="./img/partner/crown.png">Partner</p>
					<p class="user-type__subtitle">
						Статус присваивается участнику, <br>
						который пригласил не менее 25 <br>
						активных инвесторов, оборот <br>
						структуры которого достиг 0,5 BTC, <br>
						а личные инвестиции 0.05 BTC
					</p>
					<div class="card-label card-label_proc">
						<p class="card-label__title">
							<span class="card-label__title_large">10</span>
							<span class="card-label__title_small">-5</span>
							<span class="card-label__title_tiny">-1%</span></p>
						<p class="card-label__subtitle">Процентная ставка</p>
						<div class="card-label__ico">%</div>
					</div>
					<div class="card-label card-label_usd">
						<p class="card-label__title">Вывод средств:</p>
						<p class="card-label__subtitle">Без максимального <br> лимита</p>
						<div class="card-label__ico">$</div>
					</div>
					<div class="user-type__lines lines lines_partner">
						<div class="lines__first lines__first_mpartner" data-proc="10%"></div>
						<div class="lines__second lines__second_long" data-proc="5%"></div>
						<div class="lines__third" data-proc="1%"></div>
					</div>
					<div class="user-type__add">
						<div data-text="Высылаем на email инвестиционный договор" class="user-type__add-card user-type__add-card-mail"></div>
						<div data-text="Высылаем на email диплом" class="user-type__add-card user-type__add-card-diplom"></div>
					</div>
				</div>
				<div class="top-invest-buttons">
					<a class="btn btn-blue" href="https://litetrade.org/signup" style="min-width: 370px;">СТАТЬ ПАРТНЕРОМ</a>
				</div>
			</div>
		</div>
	</section>

	<section class="regional">
		<div class="container">
			<div class="row text-center">
				<p class="regional__title">региональные представители</p>
				<div class="regional__wrap">
					<table class="table regional__table">
						<tr class="regional__row regional__header">
							<th class="regional__cell">Region</th>
							<th class="regional__cell">Name</th>
							<th class="regional__cell">Username</th>
							<th class="regional__cell">Phone</th>
							<th class="regional__cell">E-mail</th>
							<th class="regional__cell">Language</th>
							<th class="regional__cell">Social& Messengers</th>
							<th class="regional__cell"></th>
						</tr>
						<tr class="regional__row">
							<td class="regional__cell"><img class="regional__country" src="./img/partner/abh.png">Abkhazia</td>
							<td class="regional__cell">SahinSahinSahin</td>
							<td class="regional__cell regional__username">Sahin</td>	
							<td class="regional__cell">994513614683</td>
							<td class="regional__cell regional__mail">sahinneyliev.98@mail.ru</td>
							<td class="regional__cell">AZE, UA, RUS</td>
							<td class="regional__cell regional__social">
								<ul class="socials">
									<li class="fa fa-facebook socials__item"></li>
									<li class="fa fa-vk socials__item"></li>
									<li class="fa fa-telegram socials__item"></li>
									<li class="fa fa-skype socials__item"></li>
									<li class="fa fa-youtube socials__item"></li>
									<li class="fa fa-twitter socials__item"></li>
									<li class="fa fa-skype socials__item"></li>
									<li class="fa fa-youtube socials__item"></li>
									<li class="fa fa-twitter socials__item"></li>
								</ul>
							</td>
							<td class="regional__cell regional__button"><a class="btn btn-blue" href="https://litetrade.org/signup">Registration</a></td>
						</tr>
						<tr class="regional__row">
							<td class="regional__cell"><img class="regional__country" src="./img/partner/emr.png">Arab Emirates</td>
							<td class="regional__cell">SahinSahinSahin</td>
							<td class="regional__cell regional__username">Sahin</td>	
							<td class="regional__cell">994513614683</td>
							<td class="regional__cell regional__mail">sahinneyliev.98@mail.ru</td>
							<td class="regional__cell">AZE, UA, RUS</td>
							<td class="regional__cell regional__social">
								<ul class="socials">
									<li class="fa fa-facebook socials__item"></li>
									<li class="fa fa-vk socials__item"></li>
									<li class="fa fa-telegram socials__item"></li>
									<li class="fa fa-skype socials__item"></li>
									<li class="fa fa-youtube socials__item"></li>
									<li class="fa fa-twitter socials__item"></li>
									<li class="fa fa-skype socials__item"></li>
									<li class="fa fa-youtube socials__item"></li>
									<li class="fa fa-twitter socials__item"></li>
								</ul>
							</td>
							<td class="regional__cell regional__button"><a class="btn btn-blue" href="https://litetrade.org/signup">Registration</a></td>
						</tr>
						<tr class="regional__row">
							<td class="regional__cell"><img class="regional__country" src="./img/partner/alb.png">Albania</td>
							<td class="regional__cell">SahinSahinSahin</td>
							<td class="regional__cell regional__username">Sahin</td>	
							<td class="regional__cell">994513614683</td>
							<td class="regional__cell regional__mail">sahinneyliev.98@mail.ru</td>
							<td class="regional__cell">AZE, UA, RUS</td>
							<td class="regional__cell regional__social">
								<ul class="socials">
									<li class="fa fa-facebook socials__item"></li>
									<li class="fa fa-vk socials__item"></li>
									<li class="fa fa-telegram socials__item"></li>
									<li class="fa fa-skype socials__item"></li>
									<li class="fa fa-youtube socials__item"></li>
									<li class="fa fa-twitter socials__item"></li>
									<li class="fa fa-skype socials__item"></li>
									<li class="fa fa-youtube socials__item"></li>
									<li class="fa fa-twitter socials__item"></li>
								</ul>
							</td>
							<td class="regional__cell regional__button"><a class="btn btn-blue" href="https://litetrade.org/signup">Registration</a></td>
						</tr>
						<tr class="regional__row">
							<td class="regional__cell"><img class="regional__country" src="./img/partner/abh.png">Abkhazia</td>
							<td class="regional__cell">SahinSahinSahin</td>
							<td class="regional__cell regional__username">Sahin</td>	
							<td class="regional__cell">994513614683</td>
							<td class="regional__cell regional__mail">sahinneyliev.98@mail.ru</td>
							<td class="regional__cell">AZE, UA, RUS</td>
							<td class="regional__cell regional__social">
								<ul class="socials">
									<li class="fa fa-facebook socials__item"></li>
									<li class="fa fa-vk socials__item"></li>
									<li class="fa fa-telegram socials__item"></li>
									<li class="fa fa-skype socials__item"></li>
									<li class="fa fa-youtube socials__item"></li>
									<li class="fa fa-twitter socials__item"></li>
									<li class="fa fa-skype socials__item"></li>
									<li class="fa fa-youtube socials__item"></li>
									<li class="fa fa-twitter socials__item"></li>
								</ul>
							</td>
							<td class="regional__cell regional__button"><a class="btn btn-blue" href="https://litetrade.org/signup">Registration</a></td>
						</tr>
						<tr class="regional__row">
							<td class="regional__cell"><img class="regional__country" src="./img/partner/abh.png">Abkhazia</td>
							<td class="regional__cell">SahinSahinSahin</td>
							<td class="regional__cell regional__username">Sahin</td>	
							<td class="regional__cell">994513614683</td>
							<td class="regional__cell regional__mail">sahinneyliev.98@mail.ru</td>
							<td class="regional__cell">AZE, UA, RUS</td>
							<td class="regional__cell regional__social">
								<ul class="socials">
									<li class="fa fa-facebook socials__item"></li>
									<li class="fa fa-vk socials__item"></li>
									<li class="fa fa-telegram socials__item"></li>
									<li class="fa fa-skype socials__item"></li>
									<li class="fa fa-youtube socials__item"></li>
									<li class="fa fa-twitter socials__item"></li>
									<li class="fa fa-skype socials__item"></li>
									<li class="fa fa-youtube socials__item"></li>
									<li class="fa fa-twitter socials__item"></li>
								</ul>
							</td>
							<td class="regional__cell regional__button"><a class="btn btn-blue" href="https://litetrade.org/signup">Registration</a></td>
						</tr>
						<tr class="regional__row">
							<td class="regional__cell"><img class="regional__country" src="./img/partner/abh.png">Abkhazia</td>
							<td class="regional__cell">SahinSahinSahin</td>
							<td class="regional__cell regional__username">Sahin</td>	
							<td class="regional__cell">994513614683</td>
							<td class="regional__cell regional__mail">sahinneyliev.98@mail.ru</td>
							<td class="regional__cell">AZE, UA, RUS</td>
							<td class="regional__cell regional__social">
								<ul class="socials">
									<li class="fa fa-facebook socials__item"></li>
									<li class="fa fa-vk socials__item"></li>
									<li class="fa fa-telegram socials__item"></li>
									<li class="fa fa-skype socials__item"></li>
									<li class="fa fa-youtube socials__item"></li>
									<li class="fa fa-twitter socials__item"></li>
									<li class="fa fa-skype socials__item"></li>
									<li class="fa fa-youtube socials__item"></li>
									<li class="fa fa-twitter socials__item"></li>
								</ul>
							</td>
							<td class="regional__cell regional__button"><a class="btn btn-blue" href="https://litetrade.org/signup">Registration</a></td>
						</tr>
						<tr class="regional__row">
							<td class="regional__cell"><img class="regional__country" src="./img/partner/abh.png">Abkhazia</td>
							<td class="regional__cell">SahinSahinSahin</td>
							<td class="regional__cell regional__username">Sahin</td>	
							<td class="regional__cell">994513614683</td>
							<td class="regional__cell regional__mail">sahinneyliev.98@mail.ru</td>
							<td class="regional__cell">AZE, UA, RUS</td>
							<td class="regional__cell regional__social">
								<ul class="socials">
									<li class="fa fa-facebook socials__item"></li>
									<li class="fa fa-vk socials__item"></li>
									<li class="fa fa-telegram socials__item"></li>
									<li class="fa fa-skype socials__item"></li>
									<li class="fa fa-youtube socials__item"></li>
									<li class="fa fa-twitter socials__item"></li>
									<li class="fa fa-skype socials__item"></li>
									<li class="fa fa-youtube socials__item"></li>
									<li class="fa fa-twitter socials__item"></li>
								</ul>
							</td>
							<td class="regional__cell regional__button"><a class="btn btn-blue" href="https://litetrade.org/signup">Registration</a></td>
						</tr>
						<tr class="regional__row">
							<td class="regional__cell"><img class="regional__country" src="./img/partner/abh.png">Abkhazia</td>
							<td class="regional__cell">SahinSahinSahin</td>
							<td class="regional__cell regional__username">Sahin</td>	
							<td class="regional__cell">994513614683</td>
							<td class="regional__cell regional__mail">sahinneyliev.98@mail.ru</td>
							<td class="regional__cell">AZE, UA, RUS</td>
							<td class="regional__cell regional__social">
								<ul class="socials">
									<li class="fa fa-facebook socials__item"></li>
									<li class="fa fa-vk socials__item"></li>
									<li class="fa fa-telegram socials__item"></li>
									<li class="fa fa-skype socials__item"></li>
									<li class="fa fa-youtube socials__item"></li>
									<li class="fa fa-twitter socials__item"></li>
									<li class="fa fa-skype socials__item"></li>
									<li class="fa fa-youtube socials__item"></li>
									<li class="fa fa-twitter socials__item"></li>
								</ul>
							</td>
							<td class="regional__cell regional__button"><a class="btn btn-blue" href="https://litetrade.org/signup">Registration</a></td>
						</tr>
					</table>
				</div>
				<a class="btn btn-blue show-more" href="https://litetrade.org/signup">Показать еще</a>
			</div>
		</div>
	</section>
</div>
//= templates/footer.html