.cabinet_body{
	header{
		.cabinet_logo{
			background: url("../img/logo/logo-cabinet.png") center no-repeat;
			width: 41px;
			height: 47px;
			float: left;
			margin: 2px 0;
		}
		.header-top{
			background: #fff;
			.select-language {
				margin: 17px 0 0 20px;
				.language-href {
					&:before{
						color: #333333;
					}
					a{
						color: #333333;
					}
				}
			}
			.main-menu{
				float: left;
				margin: 16px 0 0 60px;
				ul{
					list-style: none;
					margin-bottom: 0;
					li{
						display: inline-block;
						&:first-child{
							a{
								padding-left: 0;
							}
						}
						&:last-child{
							a{
								padding-right: 0;
							}
						}
						a{
							font-family: 'Open Sans', sans-serif;
							font-weight: 700;
							font-size: 14px;
							color: #303d42;
							padding: 0 8px;
							text-transform: uppercase;
							@include transition(all 0.4s);
							&:active,
							&.active,
							&:hover,
							&:focus{
								color: #60b7ee;
								text-decoration: none;
								&:after{
									display: none;
								}
							}
						}
					}
				}
			}
		}
		.right-menu{
			margin-top: 17px;
			.serv_time{
				color: #a8b7bd;
				font-size: 13px;
				float: left;
				margin-bottom: 0;
				margin-right: 30px;
			}
			a i{
				color: #77878e;
				font-size: 18px;
			}
		}
	}
}


.top-cabinet{
    background: #192028 url('../img/cabinet/cabinet_bg.png') center center no-repeat;
    background-size: cover;
    position: relative;
    min-height: 150px;
    .top_user_info{
        padding-top: 35px;
        img{
            float: left;
        }
        .user_info_list{
            margin-left: 20px;
            list-style: none;
            float: left;
            li{
                font-family: 'Open Sans', sans-serif;
                font-size: 13px;
                color: #fff;
            }
            .nickname{
                font-size: 18px;
                font-weight: 700;
            }
        }
    }
    .btn{
        margin: 10px 15px 0 0;
    }
}
.referral_home_item{
    margin: 20px 0 0;
    padding: 20px;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    display: inline-block;
    position: relative;
    text-align: right;
    @include respond-to(500px){
        margin: 15px 0;
        height: 60px;
    }
    .btn-refferal {
        padding: 8px;
        font-size: 14px;
        line-height: 14px;
        font-weight: 400;
        background-image: linear-gradient( 90deg, rgb(113,192,241) 0%, rgb(68,170,233) 100%);
        background-image: -moz-linear-gradient( 90deg, rgb(113,192,241) 0%, rgb(68,170,233) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(113,192,241) 0%, rgb(68,170,233) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(113,192,241) 0%, rgb(68,170,233) 100%);
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        border: 0;
        color:#ffffff;
        &:hover,
        &:focus,
        &:active{
            color: #ffffff;
            background-color: #525b64;
        }
        @include respond-to(500px){
            position: absolute;
            width: 100%;
            top:33px;
        }
    }
    .referral_home_input{
        width: 276px;
        border: 0;
        color: #77878e;
        margin: 0 0 0 15px;
        padding: 6px;
        font-weight: 400;
        font-size: 13px;
        letter-spacing: 0.04em;
        @include respond-to(991px){
            width: 295px;
            margin: 0 0 0 15px;
        }
        @include respond-to(500px){
            position: absolute;
            width: 100%;
            top:0;
            margin: 0;
        }
    }

    .referral_home_item_top{
        margin-bottom: 18px;
        span{
            color: #fff;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
        }
        .desc_ref_per{
            display: inline-block;
            width: 310px;
            text-align: left;
            margin-left: 15px;
            font-weight: 700;
            font-size: 16px;
            b{
                font-size: 24px;
                line-height: 20px;
            }
            a{
                float: right;
                text-decoration: underline;
                color: #88cbf5;
                font-size: 16px;
                font-weight: 500;
            }
        }
    }

    .referral_home_item_bottom{
        span{
            color: #fff;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
        }
    }
}

.acc_det_icon{
    padding-left: 36px;
    background: url("../img/cabinet/acc_det_icon.png") left center no-repeat;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #000;
}
.invest_icon{
    padding-left: 36px;
    background: url("../img/cabinet/invest_icon.png") left center no-repeat;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #000;
}
.with_icon{
    padding-left: 36px;
    background: url("../img/cabinet/with_icon.png") left center no-repeat;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #000;
}
.aff_icon{
    padding-left: 36px;
    background: url("../img/cabinet/with_icon.png") left center no-repeat;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #000;
}


.cabinet_calc{
	.page-calculator-block{
		.main-calculator{
			display: block;
		}
	}
}



.user-information {
    /*background: #e4eaf0;*/
    /*margin-top: -100px;*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 45px;
    transition: all 0.3s;
    @include respond-to(767px){
        position: fixed;
        top: 0;
        margin: 0;
        left: -270px;
        z-index: 3;
        border-radius: 0;
        display: block;
        height: 100%;
        width:270px;
    }
    &.open{
        left: 0;
        .mobile-user-menu{
            top:0;
            right: 0;
            &:after{
                content: "\f00d";
            }
        }
    }
    .mobile-user-menu{
        display: none;
        width: 50px;
        height: 50px;
        line-height: 50px;
        position: absolute;
        top:15px;
        right: -75px;
        color: $yellow;
        z-index: 4;
        &:after{
            width: 50px;
            display: block;
            font-size: 36px;
            font-family: 'FontAwesome',sans-serif;
            content: "\f2bd";
            position: absolute;
            top:0;
            left: 0;
        }
        @include respond-to(767px){
            display: block;
        }
    }
    .user-block{
        text-align: center;
        padding: 30px 0 20px 0;
        .user-ballance {
            font-size: 26px;
            padding: 0 10px;
            color: #fab915;
            font-weight: 600;
            font-family: 'Open Sans', sans-serif;
            img{
                width: 22px;
                height: 30px;
                margin-top:-7px;
            }
        }
        .btn-user-top{
            margin-top: 10px;
            width: 100%;
        }
    }
}

.balance_block{
    background: #f9fbfc;
    margin-top: 30px;
    padding: 10px;
    &-title,
    &-val{
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        color: #303d42;
        font-weight: 700;
        text-align: center;
        position: relative;
        padding-top: 10px;
        &::after{
            content: '';
            display: block;
            height: 70px;
            width: 1px;
            background-color: #d7dfe3;
            position: absolute;
            right: -15px;
            top: 0;
        }
    }
    &-title{
        font-size: 14px;
    }
    &-val{
        font-size: 16px;
    }
    .btn-cabinet-grey,
    .btn-cabinet-blue{
        line-height: 12px;
        width: 140px;
    }
    .btn-cabinet-blue{
        margin-bottom: 10px;
    }
    &-img_btc{
        background: url("../img/cabinet/balanse_block-img_btc.png") center no-repeat;
        height: 28px;
        background-size: contain;
        max-width: 105px;
        margin: 0 auto;
    }
    &-img_eth{
        background: url("../img/cabinet/balanse_block-img_eth.png") center no-repeat;
        height: 28px;
        background-size: contain;
        max-width: 105px;
        margin: 0 auto;
    }
    &-img_ltc{
        background: url("../img/cabinet/balanse_block-img_ltc.png") center no-repeat;
        height: 28px;
        background-size: contain;
        max-width: 92px;
        margin: 0 auto;
    }
}



.user-information{
    .user-navigation {
        border-top: 1px solid #d0dae4;
        padding: 30px 0 40px 30px;
        background-color: #f9fbfc;
        &:first-child{
            border-top: 0;
        }
        p{

            margin-bottom: 15px;
            color: #233a50;
        }
        ul {
            padding: 0;
            list-style: none;
            margin: 0;
            li {
                margin-bottom: 5px;
                a {
                    color: #303d42;
                    font-size: 14px;
                    font-weight: 500;
                    transition: all 0.3s;
                    &:hover,
                    &:active,
                    &.active,
                    &:focus {
                        color: #33a0e5;
                        text-decoration: none;
                    }
                }
                .user-logout{
                    margin-top: 15px;
                }
            }
        }
    }
}


.header-menu.cabinet-menu{
    position: absolute;
    background: transparent;
    z-index: 1;
}
.top-bar {
    background: #e4eaf0;
    margin: 30px 0 15px;
    padding: 7px 15px;
    overflow: hidden;
    p{
        white-space: nowrap;
        color: #233a50;
        margin-bottom: 0;
        font-weight: 200;
        span{
            color: #4280bf;
        }
    }
}

.cabinet-up-header{
    background: #f9fbfc;
    color: #303d42;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    padding: 12px 0 12px 20px;
    margin: 10px 0;
}

.cabinet-content{
    overflow: hidden;
    .inform{
        color: #4280bf;
        margin-bottom: 15px;
		margin-top: 15px;
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
        }
        &.bg-danger{
            color:#a94442;
            ul li{
                color:#a94442;
            }
        }
    }
    .form-group{
        margin-bottom: 10px;
    }
}

.account-block{
    width: 100%;
	padding: 87px 15px 30px 30px;
	position: relative;
	min-height: 190px;
    margin-bottom: 10px;

    @include respond-to(991px){
        padding: 90px 10px 15px 30px;
    }

    &.stat1{
        background:#f9fbfc url('../img/cabinet/statistics/cabinet-1.png') 30px 15px no-repeat;
    }
    &.stat2{
        background:#f9fbfc url('../img/cabinet/statistics/cabinet-2.png') 30px 15px no-repeat;
    }
    &.stat3{
        background:#f9fbfc url('../img/cabinet/statistics/cabinet-3.png') 30px 15px no-repeat;
    }
    &.stat4{
        background:#f9fbfc url('../img/cabinet/statistics/cabinet-4.png') 30px 15px no-repeat;
    }
    &.stat5{
        background:#f9fbfc url('../img/cabinet/statistics/cabinet-5.png') 30px 15px no-repeat;
    }
    &.stat6{
        background:#f9fbfc url('../img/cabinet/statistics/cabinet-6.png') 30px 15px no-repeat;
    }
    .btn-balance{
        margin: 8px 0;
        width: 100%;
    }
    .stat-amount{
        color:#192028;
        font-size: 18px;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
        position: relative;
        margin-bottom: 0;
        line-height: 18px;

        @include respond-to(991px){
            font-size: 18px;
        }

    }
    .stat-header{
        margin-bottom: 5px;
        color:#303d42;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        line-height: 14px;
    }
    .stat-mini{
        font-size: 12px;
        color: #333333;
        font-weight: 400;
        position: absolute;
        bottom:15px;
        left:30px;
    }
}

.acc_block_for_butt{
    text-align: center;
    background-color: #f9fbfc;
    padding: 30px 0;


    .btn-blue{
        font-size: 20px;
        width: 370px;
        @include respond-to(480px){
            width: 100%;
        }
    }

}

.acc_block_for_content{
    background-color: #f9fbfc;
    padding: 30px 0;
    margin-bottom: 10px;

    &.for_filter{
        padding: 20px 15px;
        float: left;
        width: 100%;
        select{
            float: right;
            max-width: 170px;
        }
    }

}




.deposit_sub_title{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}


.depo_plan_tab{
    display: none;
}


.range1{

    margin: 30px 0;
    padding: 0 20px;

    .range-slider {
        width: 100%;
        height: 8px;
        border-bottom: 1px solid #d7dfe3;
        border-top: 1px solid #d7dfe3;
        position: relative;
        padding: 0;
        cursor: pointer;
        box-sizing: border-box;
        z-index: 75;
        background-color: white;
    }
    .range-slider * {
        box-sizing: border-box;
    }
    .range-slider .pointer {
        position: absolute;
        width: 22px;
        left: 23%;
        background-image: linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
        background-image: -moz-linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
        height: 22px;
        top: -12px;
        cursor: pointer;
        z-index: 100;
        border-radius: 20px;
        border: 1px solid #aaa;
    }
    .range-slider .pointer::after {
        content: " ";
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
        background-image: -moz-linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
        top: -1px;
        left: -8px;
        border-radius: 30px;
    }
    .transitionable {
        transition: all 0.5s
    }
    .range-slider .range-progress {
        display: inline-block;
        position: absolute;
        left: 0;
        z-index: 99;
        width: 25%;
        height: 100%;
        background-color: #4fafeb;
    }
    /*.range-progress.caution {
        background-color: #ffffcc
    }
    .range-progress.danger {
        background-color: #ff6633
    }*/

    .range {
        position: relative;
        z-index: 90;
        box-sizing: border-box;
        display: inline-block;
        float: left;
        width: 25%;
        height: 100%;
        cursor: pointer;
        text-align: center;
        &::after{
            content: '';
            display: block;
            height: 9px;
            width: 1px;
            background-color: #d7dfe3;
            position: absolute;
            top: -10px;
            right: 0;
            z-index: -1;
        }
        &::before{
            content: '';
            display: block;
            height: 9px;
            width: 1px;
            background-color: #d7dfe3;
            position: absolute;
            bottom: -10px;
            z-index: -1;
            right: 0;
        }
    }
    .range:last-child{
        &::after{
            content: '';
            display: block;
            height: 26px;
            width: 1px;
            background-color: #d7dfe3;
            position: absolute;
            top: -10px;
            z-index: -1;
            right: 0;
        }

    }
    .range-slider{
        &::after{
            content: '';
            display: block;
            height: 26px;
            width: 1px;
            background-color: #d7dfe3;
            position: absolute;
            top: -10px;
            z-index: -1;
            left: 0;
        }
    }
    .range.highlighted p {
        display: block !important
    }
    .range:hover p {
        display: block !important;
        transition: display 0.5s
    }
    .range p {
        position: absolute;
        font-size: 14px;
        top: 15px;
        right: -11px;
        padding: 1px 3px;
        color: #4fafeb;
    }
}


.deposit_tab_links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
}
.deposit_tab_link{
        display: block;
        width: 240px;
        height: 50px;
        border: 1px solid #d7dfe3;
        padding: 13px 0;
        @include transition(all 0.4s ease);

        &:hover,
        &:focus,
        &:active,
        &.active{
            border: 1px solid #4fafeb;
            span{
                color: #4fafeb;
            }
            .square{
                border: 1px solid #4fafeb;
                &::after{
                    background-color: #4fafeb;
                }
            }
        }


    span{
        color: #303d42;
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
        vertical-align: super;
        @include transition(all 0.4s ease);
    }

    .square{
        display: inline-block;
        width: 22px;
        height: 22px;
        border: 1px solid #d7dfe3;
        margin: 0 40px 0 13px;
        position: relative;
        @include transition(all 0.4s ease);
        &::after{
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            background-color: transparent;
            position: absolute;
            @include transition(all 0.4s ease);
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }

    }
}



.cabinet-label{
    padding-top: 7px;
    text-align: right;
    font-weight: 700;
    font-size: 16px;
}
    .input-text{
        padding-top: 7px;
        margin-bottom: 0;
    }
    .cabinet-input{
        text-align: left;
        color: #333333;
        padding: 8px 10px;
        font-size: 16px;
        border:1px solid #e1e1e1;
        background-color: #ffffff;
        border-radius: 0;
        outline: none;
        line-height: normal;
        box-shadow: none;
        height: 34px;
        &:focus {
            border:1px solid #4280bf;
            outline: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }

.info-group{
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 5px;
    display: flex;
    .info-label{
        text-align: right;
        font-weight: 500;
        font-size: 16px;
    }
    .info-text{
        margin-bottom: 0;
    }
}

.deposit-with-icon{
    position: relative;
    font-weight: 600;
    margin-top: 45px;
    margin-bottom: 15px;
    padding-left: 25px;
    &:before{
        content: "";
        display: block;
        background: url("../img/cabinet/plan-header.png") top left no-repeat;
        background-size: cover;
        z-index: -1;
        width: 40px;
        height: 42px;
        position: absolute;
        top: -15px;
        left: 0;
    }
}

.btn-reinvest{
    font-size: 24px;
    font-weight: 500;
    letter-spacing: inherit;
    padding: 7px 16px;
}
.table-cabinet{
    thead{
        tr {
            background: #f9fbfc;
            th{
                border-bottom-width: 1px;
                border-bottom-color: #d7dfe3;


                &:nth-child(3){
                    text-align: right;
                }

            }
        }
    }
    tbody {
        tr {
            border-bottom-width: 0;
            td {
                border: 0;
                &:last-of-type {
                    text-align: right;
                }
                &.text-center {
                    text-align: center;
                }
                &.td-nowrap{
                    white-space: nowrap;
                    width: auto;
                    min-width: 155px;
                    vertical-align: middle;
                }
                .earn-description{
                    font-size: 12px;
                    line-height: 14px;
                    display: block;
                }

                &:nth-child(3){
                    text-align: right;
                }

            }


            &:nth-child(odd){
                background: #f0f5f7;
            }
            &:nth-child(even){
                background: #f9fbfc;
            }


        }
    }
    .btn{
        border-radius: 0;
    }
    .payment-img{
        width: 20px;
        height: 20px;
        margin-top: -2px;
        margin-left: 5px;
        display: inline-block;
        position: relative;
        top: -2px;
        img{
            width: 100%;
            height: 20px;
        }
    }
}

    .table-filter{
        border: 1px solid #ddd;
        background: #e4eaf0;
        select{
            margin-right:0;
            padding: 0 4px;
            min-width: 65px;
            border: 1px solid #9ca9b7;
            font-size: 14px;
            font-weight: 400;
            text-transform: none;
            height: 27px;
            -webkit-appearance: none;
            -moz-appearance: none;
            background:#fff url('../img/cabinet/drop-icon.png') no-repeat right 4px center;

            @include respond-to(991px){
                width: 100%;
                margin-bottom: 5px;
            }
        }
        .filter-submit{
            padding: 3px 12px;
            font-size: 14px;
            line-height: 1.5;
            color: #fff;
            background-color: #33A0E5;
            display: inline-block;
            margin-bottom: 0;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            border: 0;
            transition: all 0.3s;
            float: right;
            margin-left: 5px;
            &:hover,
            &:focus,
            &:active{
                color: #ffffff;
                background-color: #88CBF5;
            }
        }
    }

.payment-image{
    margin-top: -3px;
}
.banners-tabs{
    display: inline-block;


    .btn-banner{
        margin: 0 5px 0 5px;
        width: auto;
        min-width: 125px;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        text-transform: capitalize;
        position: relative;
        outline: none;
        color: #333333;
        font-size: 14px;
        font-weight: 400;
        line-height: 12px;
        max-width: 100%;
        padding: 8px 16px;
        height: 32px;
        cursor: pointer;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        background: #d7dfe3;
        border-top: 2px solid transparent;
        &:hover,
        &:focus,
        &:active,
        &.active{
            border-top: 2px solid #70bff0;
            text-decoration: none;
            background-color: #f9fbfc;
        }
    }
}


.banner-tab{
    display: none;
    padding: 50px;
    background-color: #f9fbfc;
}
.referral_item {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    img {
        max-width: 100%;
        margin-bottom: 5px;
    }
    .referral_textarea {
        text-align: left;
        color: #77878e;
        padding: 8px 10px;
        font-size: 13px;
        border: 1px solid #d7dfe3;
        background-color: #ffffff;
        border-radius: 0;
        outline: none;
        line-height: normal;
        box-shadow: none;
        height: 50px;
        float: left;
        width: calc(100% - 60px);
        resize: none;
        overflow: hidden;

    }
    .copy-link-btn {
        background-image: linear-gradient( 90deg, rgb(113,192,241) 0%, rgb(68,170,233) 100%);
        background-image: -moz-linear-gradient( 90deg, rgb(113,192,241) 0%, rgb(68,170,233) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(113,192,241) 0%, rgb(68,170,233) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(113,192,241) 0%, rgb(68,170,233) 100%);
        float: right;
        width: 50px;
        height: 50px;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        text-transform: capitalize;
        position: relative;
        outline: none;
        padding: 0 15px;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        border-radius: 0;
        border: none;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        cursor: pointer;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;




        &:hover{
            text-decoration: none;
            color: #ffffff;
            background-color: #525b64;
        }
    }
}
.choose-plan{
    text-align: center;
    color: #fab915;
    text-transform: uppercase;
    margin: 45px 0 25px;
    font-weight: 600;
}
.title-plan{
    text-align: center;
    color: #525b64;
    text-transform: uppercase;
    margin: 15px 0 10px;
    font-weight: 600;
    font-size: 20px;
}
.plan-deposit{
    margin-bottom: 15px;
    .plan{
        background: url("../img/cabinet/plan-cover.png") top left no-repeat;
        padding: 38px 0 0 44px;
        display: block;
        margin-bottom: 30px;
        width: 100%;
        cursor: pointer;
        opacity: 0.3;
        transition: all 0.3s;
        .profit{
            font-weight: bold;
            font-family:'Open Sans', sans-serif;
            &>span{
                &:first-of-type {
                    font-size: 64px;
                    color: #192028;
                    line-height: 48px;
                    width: 100%;
                    display: block;
                }
                &:last-of-type{
                    letter-spacing: 0.05em;
                    width: 100%;
                    display: block;
                    color: #9b9b9b;
                    font-size: 14px;
                    text-transform: uppercase;
                    line-height: 14px;
                    margin: 20px 0 10px;
                    @include respond-to(1200px){
                        letter-spacing: inherit;
                    }
                }
            }
        }
        .deposit-return{
            color:#192028;
            font-size: 16px;
            line-height: 22px;
        }
        .deposit{
            display: none;
            color:#192028;
            font-size: 16px;
            line-height: 22px;
            &.active{
                display: block;
            }
        }
        .btn-plan{
            display: block;
            margin-top: 25px;
            font-size: 14px;
            padding: 9px 16px;
            height: 40px;
            margin-left: -22px;
            width: calc(100% + 44px);
            position: relative;
            border: none;
            background: #525b64;
            &:hover{
                /*background: #fab915;*/
            }
            &:after{
                content: '';
                position: absolute;
                display: block;
                top:0;
                left:0;
                width: 0;
                height: 40px;
                background: #525b64;
                transition: all 0.3s;
            }
        }
        &:hover{
            opacity: 1;
            .btn-plan{
                &:after{
                    /*width: 10px;*/
                }
            }
        }
        &.active{
            opacity: 1;
            .btn-plan{
                background-color: #fab915;
                border-color: #fab915;
            }
        }
    }
}




.date_from_cont,
.date_to_cont{
    &::after{
        content: "\f073";
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: inline-block;
        position: absolute;
        right: 25px;
        top: calc(50% - 7px);
    }
}

.date_to_cont{
    &::after{
        right: 47px;
    }
}


.date_to_cont,
.date_from_cont{
    position: relative;
    width: 210px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0;

    .amount_input{
        width: 150px;
        float: none;
    }


}




.payment_method_title{
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #303d42;
    margin: 0 0 20px 0;
}


.payment_method{
    display: inline-block;
    width: 100%;

    .payment-block{
        filter: grayscale(100%);
        opacity: 0.5;
        cursor: pointer;
        width: 100%;
        margin-right: 15px;
        margin-bottom: 15px;
        float: left;
        display: block;
        position: relative;
        height: 50px;
        border: 1px solid #d7dfe3;
        padding: 13px 0;
        @include transition(all 0.4s ease);

        &:hover,
        &:focus,
        &:active,
        &.active{
            border: 1px solid #4fafeb;
            filter: grayscale(0);
            opacity: 1;
            .square{
                border: 1px solid #4fafeb;
                &::after{
                    background-color: #4fafeb;
                }
            }
        }
        .square{
            display: inline-block;
            width: 22px;
            height: 22px;
            border: 1px solid #d7dfe3;
            margin: 0 40px 0 13px;
            position: relative;
            @include transition(all 0.4s ease);
            &::after{
                content: '';
                display: block;
                width: 16px;
                height: 16px;
                background-color: transparent;
                position: absolute;
                @include transition(all 0.4s ease);
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }

        }
        &:last-child{
            margin-bottom: 0;
        }
        .balance{
            position: absolute;
            top:15px;
            right: 10px;
            color: #303d42;
            padding: 0 6px;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            display: block;
            span{
                margin-right: 5px;
            }
        }
    }


    .payment-img{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        background-repeat: no-repeat;
        background-position: 50px center;
    }




}

.currency_48{
    background-image: url("../img/cabinet/currency_48.png");
}
.currency_69{
    background-image: url("../img/cabinet/currency_69.png");
}
.currency_68{
    background-image: url("../img/cabinet/currency_68.png");
}


.withdraw_method{
    display: inline-block;
    width: 100%;
    .withdraw-block{
        opacity: 0.3;
        cursor: pointer;
        width: calc(50% - 7.5px);
        margin-right: 15px;
        margin-bottom: 15px;
        float: left;
        display: block;
        font-size: 16px;
        font-weight: 400;
        padding: 10px 30px 10px 40px;
        height: 40px;
        color:#ffffff;
        background: #525b64;
        position: relative;
        transition: all 0.3s;
        @include respond-to(570px){
            width: 100%;
            margin-bottom: 10px;
        }
        &:after{
            content: '';
            font-family: 'FontAwesome', sans-serif;
            position: absolute;
            top:0;
            left:0;
            width: 0;
            height: 40px;
            background: #525b64;
            transition: all 0.3s;
        }
        &:nth-child(even){
            margin-right: 0;
        }
        &:hover{
            opacity: 1;
            &:after{
                /*width: 10px;*/
            }
        }
        &.active{
            opacity: 1;
            background-color: #fab915;
            &:after{
                /*width: 10px;*/
            }
        }
        .payment-img{
            position: absolute;
            top: 8px;
            left:8px;
            width: 24px;
            height: 24px;
            img{
                width: 100%;
            }
        }
        .payment-currency{
            position: absolute;
            top: 10px;
            right:10px;
            height: 20px;
            line-height: 20px;

        }
        .payment-name{
            float: left;
            line-height: 20px;
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
        }
        .balance{
            position: absolute;
            top:10px;
            right: 10px;
            background: #fff;
            color: #192028;
            padding: 0 6px;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            display: block;
            span{
                margin-right: 5px;
            }
        }
    }
}

.amount-block {
    position: relative;
    width: 100%;
    display: block;
    .amount-btn {
        cursor: pointer;
        float: left;
        display: block;
        font-weight: 400;
        padding:0 5px;
        background-color: rgb(215, 223, 227);
        position: relative;
        transition: all 0.3s;
        margin-right: 8.33px;
        margin-bottom: 7px;
        font-family: 'Open Sans', sans-serif;
        width: calc(12.5% - 7.5px);
        height: 31px;
        line-height: 32px;
        color: #303d42;
        font-size: 16px;
        text-align: center;
        @include respond-to(991px){
            font-size: 16px;
        }
        @include respond-to(570px){
            width: calc(20% - 7.5px);
            &:nth-child(5){
                margin-right: 0;
            }
        }
        &:last-of-type{
            margin-right: 0;
        }
        &:after{
            content: '';
            position: absolute;
            display: block;
            top:0;
            left:0;
            width: 0;
            height: 40px;
            background: #525b64;
            transition: all 0.3s;
        }
        &:hover{
            color: #fff;
            background: #7cc5f3;
            &:after{
                /*width: 10px;*/
            }
        }
        &.active{
            background: #7cc5f3;
            color: #fff;
        }
    }
}

.amount_cabinet_row {
    position: relative;
    margin-bottom: 45px;
    .title-plan{

    }
   .deposit_input{
       width: 100%;
       margin-bottom: 5px;
       display: inline-block;
       label{
           display: block;
           width: calc(100% - 245px);
           float:left;
           line-height: 40px;
           text-transform: uppercase;
           color: #525b64;
           font-size: 18px;
           margin: 0;
           padding: 0;
           font-weight: bold;
           @include respond-to(410px){
               width: 100%;
               line-height: 20px;
               text-align: center;
           }
       }
       .deposit_count_box{
           color: $yellow;
           padding: 5px 15px;
           font-size: 20px;
           border: 1px solid #e1e1e1;
           background-color: #fff;
           text-align: center;
           display: block;
           width: 245px;
           float:right;
           margin: 0;
           height: 40px;
           resize: none;
           font-weight: 600;
           text-transform: uppercase;
           @include respond-to(410px){
               width: 100%;
           }
       }
   }
}

.withdraw-title{
    text-align: center;
    color: #525b64;
    text-transform: uppercase;
    margin: 45px 0 10px;
    font-weight: 600;
    font-size: 20px;
}

.amount_input_block {
    position: relative;
    @include respond-to(570px){
        margin-bottom: 45px;
    }
    .amount_input_cover{
        position: relative;
        display: block;
        /*width: calc(80% - 2px);*/
        /*@include respond-to(991px){
            width: calc(70% - 2px);
        }
        @include respond-to(570px){
            width: calc(65% - 2px);
        }
        @include respond-to(415px){
            width: 100%;
        }*/
        /*&:after {
            color: #fab915;
            content: 'USD';
            height: 40px;
            top: 5px;
            border-left: 1px solid #e1e1e1;
            width: 76px;
            right: 0;
            text-align: center;
            line-height: 40px;
            position: absolute;
            font-size: 24px;
            font-weight: 500;
        }*/
        /*&[data-payment="48"]::after {
            content: 'BTC';
        }
        &[data-payment="68"]::after {
            content: 'LTC';
        }
        &[data-payment="69"]::after {
            content: 'ETH';
        }*/

        .invest-input{
            width: 100%;
            text-align: left;
            color: #303d42;
            padding: 8px 15px;
            font-size: 24px;
            border: 2px solid #7cc5f3;
            background-color: #fff;
            border-radius: 0;
            outline: 0;
            line-height: normal;
            box-shadow: none;
            height: 50px;
            float: left;
            resize: none;
            font-weight: 600;
            &:focus{
                border-color: #192028;
            }
        }
    }
    .btn-invest{
      /*width: calc(50% - 15px);
        @include respond-to(991px){
            width: calc(30% - 7px);
        }
        @include respond-to(570px){
            width: calc(35% - 7px);
        }
        @include respond-to(415px){
            width: 100%;
        }
        float: right;*/
        width: 100%;

    }
    &.withdraw_block{
        .amount_input_cover {
            width: calc(70% - 10px);
            @include respond-to(991px){
                width: calc(60% - 10px);
            }
        }
        .btn-invest {
            width: 30%;
            @include respond-to(991px){
                width: 40%;
            }
        }
    }
}





.confirm-deposit{
    .deposit-process-wrap{
        input{
            background-color: #4cd964;
            border: 1px solid #4cd964;
            border-radius: 0;
            font-family: Montserrat,sans-serif;
            line-height: inherit;
            display: inline-block;
            padding: 8px 16px;
            cursor: pointer;
            vertical-align: top;
            text-overflow: ellipsis;
            color: #fff;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            text-transform: uppercase;
            box-shadow: none;
            text-decoration: none;
            white-space: nowrap;
            max-width: 100%;
            transition: .3s all ease;
            -webkit-appearance: button;
            cursor: pointer;
        }
    }
    .deposit-cancel-wrap{
        input{
            background-color: #4280bf;
            border: 1px solid #4280bf;
            border-radius: 0;
            font-family: Montserrat,sans-serif;
            line-height: inherit;
            display: inline-block;
            padding: 8px 16px;
            cursor: pointer;
            vertical-align: top;
            text-overflow: ellipsis;
            color: #fff;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            text-transform: uppercase;
            box-shadow: none;
            text-decoration: none;
            white-space: nowrap;
            max-width: 100%;
            transition: .3s all ease;
            -webkit-appearance: button;
            cursor: pointer;
        }
    }
}