.page-calculator-block{
	border-bottom:1px solid #d7dfe3;
	background: #f9fbfc;
	.toggle-calculator{
		margin: 0 auto;
		display: block;
		color:#303d42;
		font-weight: bold;
		text-transform: uppercase;
		background: url("../img/calcuator-divider.png") top center no-repeat;
		width: 362px;
		height: 25px;
		line-height: 25px;
		text-align: center;
		cursor: pointer;
	}
	.main-calculator{
		display: none;
		padding-top: 30px;
		.calculator_box{
			margin-bottom: 20px;
			label{
				display: block;
				margin-bottom: 5px;
				text-align: left;
				text-transform: uppercase;
				color: #9cabb3;
				font-weight: 700;
				font-size: 11px;
				line-height: 15px;
				letter-spacing: 0.01em;
			}
			.calculator-input-box{
				border: 1px solid #d7dfe3;
				background: #ffffff;
				padding: 0 15px;
				height: 40px;
				width: 100%;
				border-radius: 0;
				box-shadow: none;
				color: #303d42;
				outline: none;
				font-size: 16px;
				text-align: left;
				font-weight: 400;
				text-decoration: none;
				position: relative;
				line-height: 38px;
				&:focus{
					border: 1px solid #303d42;
				}
			}
			.calculator-total-box{
				border: 1px solid #d7dfe3;
				background: #d7dfe3;
				padding: 0 15px;
				height: 40px;
				width: 100%;
				border-radius: 0;
				box-shadow: none;
				color: #303d42;
				outline: none;
				font-size: 16px;
				text-align: left;
				font-weight: 700;
				text-decoration: none;
				position: relative;
				line-height: 38px;
			}
			.select-box{
				position: relative;
				&:before {
					content: '';
					position: absolute;
					top: 18px;
					right: 12px;
					background: url("../img/select-box-arrow.png") top center no-repeat;
					width: 10px;
					height: 5px;
					z-index: 1;
				}
				.select-plan{
					position: relative;
					width: 100%;
					&.active{
						.select-link{
							border: 1px solid #303d42;
						}
						.select-tab{
							display: block;
						}
					}
					.select-link{
						position: relative;
						border: 1px solid #d7dfe3;
						background: #ffffff;
						padding: 0 15px;
						height: 40px;
						width: 100%;
						border-radius: 0;
						box-shadow: none;
						a{
							color: #303d42;
							outline: none;
							font-size: 16px;
							text-align: left;
							font-weight: 400;
							text-decoration: none;
							position: relative;
							line-height: 38px;
							display: block;
						}
					}
					.select-tab{
						width: 100%;
						position: absolute;
						display: none;
						top: 40px;
						left: 0;
						z-index: 9;
						font-size: 15px;
						line-height: 26px;
						background: #ffffff;
						border: 1px solid #d7dfe3;
						box-shadow: 0px 24px 20px 0px rgba(0, 1, 1, 0.04);
						border-radius: 0;
						.select-list{
							margin: 0;
							padding: 0;
							list-style: none;
							width: 100%;
							li{
								width: 100%;
								padding: 4px 15px;
								&:hover{
									background: #f3f6f9;
								}
								a{
									text-align: left;
									font-weight: 400;
									font-size: 16px;
									color: #000000;
									line-height: 25px;
									display: block;
									width: 100%;
									text-decoration: none;
									&:hover{
										text-decoration: none;
										color: #000000;
									}
								}
								&.plan-direction{
									display: none;
									&.active{
										display: block;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}