.card-label {
	border: 1px dotted #d7dfe3;
	padding: 15px 13px;
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: flex-start;
	border-radius: 4px;

	&__title {
		font-size: 14px;
		margin-bottom: 0;
		line-height: 1;
		color: $black-font;
		text-align: left;

		&_large {
			font-size: 30px;
			font-weight: bold;
		}

		&_small {
			font-size: 24px;
			font-weight: bold;
		}

		&_tiny {
			font-size: 20px;
			font-weight: bold;
		}
	}

	&__subtitle {
		font-size: 14px;
		margin-bottom: 0;
		color: $black-font;
		text-align: left;
		line-height: 1;
	}

	&__ico {
		position: absolute;
		top: 0.5em;
		right: 0.5em;
		border-radius: 50%;
		color: white;
		background: $black-font;
		width: 23px;
		height: 23px;
		font-weight: bold;
		font-size: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&_proc {
		min-width: 200px;

		@media (max-width: 940px){
			min-width: 220px;
			margin-bottom: 20px;
		}
	}

	&_usd {
		min-width: 220px;

		.card-label__subtitle {
			font-weight: bold;
		}
	}
}