.first {
	padding-top: 260px;
	padding-bottom: 160px;
	background-image: url('../img/partner/header.png');
	background-size: cover;
	background-repeat: no-repeat;

	@media (max-width: 480px) {
		padding: 129px 0 54px;
	}

	&__title {
		font-size: 60px;
		font-weight: bold;
		color: white;
		text-transform: uppercase;
		margin-bottom: 45px;

		@media (max-width: 480px) {
			font-size: 30px;
		}
	}

	&__subtitle {
		font-size: 16px;
		line-height: 1.5;
		color: white;
		margin-bottom: 45px;

		@media (max-width: 480px) {
			padding: 0 20px;
		}
	}

	.btn {
		@media (max-width: 480px) {
			min-width: unset !important;	
		}
	}
}

.partner {
	
	& :not(.regional) {
		.container {
			width: 970px;

			@media (max-width: 970px) {
				width: auto;
			}
		}
	}
}

footer .payments-footer ul li {
	@media (max-width: 480px) {
		margin-left: 0;
	}
}