.homepage-slider{
	.slider-wrapper{
		height: 700px;
		position: relative;
		overflow: hidden;
		.top-headline{
			font-family: 'Open Sans', sans-serif;
			font-weight: 700;
			font-size: 30px;
			color: #fff;
			text-transform: uppercase;
			letter-spacing: 8px;
		}
		.middle-headline{
			font-family: 'Open Sans', sans-serif;
			font-weight: 700;
			font-size: 38px;
			color: #c0d0d6;
			text-align: center;
			line-height: 46px;
			span{
				color: #fff;
			}
		}
		.top-invest-buttons{
			.btn-blue{
				font-size: 20px;
			}
		}
		.parallax-background{
			width: 100%;
			height: 700px;
			background-position: top center;
			background-repeat: no-repeat;
			position: absolute;
		}
		#parallax-nav{
			display: block;
			position: absolute;
			left:calc(50% - 30px);
			top:45px;
			z-index: 1;
			ul{
				margin: 0;
				padding: 0;
				list-style: none;
				li{
					display: block;
					float:left;
					a{
						display: block;
						width: 10px;
						height: 10px;
						border-radius: 10px;
						margin:2px 4px;
						border: 2px solid #fff;
						background: transparent;
						&:hover{
							background: #ffffff;
						}
						&.active{
							margin:0 4px;
							border-radius: 14px;
							width: 14px;
							height: 14px;
							border: 2px solid #fff;
							background: #ffffff;
						}
					}
				}
			}
		}
	}
}

.divider-separator{
    width: 100%;
    padding-top: 22px;
    padding-bottom: 22px;
    & > span{
        display: inline-block;
        border-top:2px solid #33a0e5;
        width: 150px;
    }
}

#plans{
    background: #ffffff;
    padding: 100px 0 110px;
    overflow: hidden;
    min-height: 350px;
    @include respond-to(991px){
        padding: 50px 0;
    }
    @include respond-to(415px){
        padding: 35px 0;
    }
	.what-title-1{
		text-transform: uppercase;
		font-style: normal;
		font-weight: 300;
		font-size: 20px;
		line-height: 1.25;
		font-family: 'Ubuntu', sans-serif;
		color: #303d42;
		text-align: center;
		margin-bottom: 30px;
		@include respond-to(991px){
			font-size: 22px;
			letter-spacing: 5px;
		}
		@include respond-to(415px){
			font-size: 18px;
			letter-spacing: 3px;
		}
	}
	.what-title-2{
		font-style: normal;
		font-weight: 700;
		font-size: 40px;
		line-height: 1;
		font-family: 'Ubuntu', sans-serif;
		letter-spacing: 0;
		color: #303d42;
		overflow: hidden;
		position: relative;
		z-index: 1;
		text-align: center;
		padding-bottom: 120px;
		@include respond-to(991px){
			padding-bottom: 80px;
		}
		&::after{
			background: url("../img/homepage/sub_title_2_icon_plans.png") center no-repeat;
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			top: 70px;
			width: 475px;
			height: 30px;
			margin-left: -237.5px;
			@include respond-to(991px){
				top: 120px;
			}
			@include respond-to(467px){
				top: 165px;
			}
			@include respond-to(415px){
				top: 92px;
			}
			@include respond-to(353px){
				top: 128px;
			}
		}
		@include respond-to(991px){
			font-size: 46px;
		}
		@include respond-to(415px){
			font-size: 34px;
		}
	}
	.what-text{
		padding: 30px 0 15px 0;
	}
    .plan_tab_link{
        .btn-blue{
            width: 100%;
            z-index: 10;
            position: relative;
            background-color: #f0f5f7;
            background-image: none;
            color: #303d42;
			padding: 16px 29px;
            &.active{
                &::after{
                    content: '';
                    position: absolute;
                    bottom: -32px;
                    left: 50%;
                    margin-left: -15px;
                    border: 15px solid transparent;
                    border-bottom: 15px solid white;
                }
                &::before{
                    content: '';
                    position: absolute;
                    bottom: -30px;
                    left: 50%;
                    margin-left: -15px;
                    border: 15px solid transparent;
                    border-bottom: 15px solid #d7dfe3;
                }
                background-image: linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
                background-image: -moz-linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
                background-image: -webkit-linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
                background-image: -ms-linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
                color: #fff;
            }
            &:active,
            &:hover,
            &:focus{
                opacity: 1;
                color: #fff;
                background-image: linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
                background-image: -moz-linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
                background-image: -webkit-linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
                background-image: -ms-linear-gradient( 90deg, rgb(136,203,245) 0%, rgb(51,160,229) 100%);
            }
        }
    }
	.plan_tab_wrapper{
		margin-top: 30px;
		padding: 60px 100px 70px 100px;
		border: 1px solid #d7dfe3;
		.plan_tab{
			display: none;

			z-index: 5;
			@include respond-to(1199px){
				padding: 60px 30px 70px 30px;
			}
			@include respond-to(991px){
				padding: 30px 0;
			}
			.tab_description{
				font-family: 'Open Sans', sans-serif;
				color: #303d42;
				margin-bottom: 38px;
			}
			.tab_table{
				tr:first-child{
					border-bottom: 1px solid #d7dfe3;
					color: #303d42;
					font-family: 'Open Sans', sans-serif;
					td{
						font-weight: 700;
					}
				}
				tr:nth-child(odd){
					background-color: #f0f5f7;
				}
				td{
					padding: 10px 10px 10px 30px;
					border-top: 0;
					font-size: 16px;
					text-align: right;
					small{
						font-size: 12px;
					}
					&:first-child{
						text-align: left;
						@include respond-to(1199px){
							padding-left: 10px;
							position: relative;
							width: 18%;
						}
					}
					&:last-child{
						padding: 5px;
					}
					.popular_plan,
					.recommended_plan,
					.profitable_plan{
						font-family: 'Open Sans', sans-serif;
						font-weight: 700;
						color: #fff;
						font-size: 8px;
						display: inline-block;
						width: 80px;
						height: 18px;
						text-transform: uppercase;
						text-align: center;
						line-height: 18px;
						vertical-align: top;
						margin-top: 2px;
						@include respond-to(1199px){
							width: 68px;
							position: absolute;
							left: 120px;
							top: 11px;
						}
					}
					.popular_plan{
						background-color: #ff0000;
					}
					.recommended_plan{
						background-color: #ff9600;
					}
					.profitable_plan{
						background-color: #18cb00;
					}
				}
				.small_btn{
					padding: 5px 20px;
					width: 100%;
					font-size: 14px;
				}
			}
		}
		.plan_tab_calculator{
			.calculator_head{
				font-size: 16px;
				font-weight: bold;
				margin-top:20px;
			}
		}
	}


	.deposit_row {
		position: relative;
		.deposit_input{
			width: 100%;
			margin-bottom: 5px;
			display: inline-block;
			label{
				display: block;
				width: 100%;
				text-align:left;
				font-family: 'Open Sans', sans-serif;
				text-transform: uppercase;
				color: #9cabb3;
				font-size: 11px;
				margin: 0 0 10px 0;
				padding: 0;
				font-weight: bold;
				@include respond-to(991px){
					font-size: 11px;
				}
				@include respond-to(410px){
					width: 100%;
					line-height: 20px;
					text-align: center;
				}
			}
			.deposit_count_box{
				white-space: nowrap;
				color: #303d42;
				padding: 2px 10px;
				font-size: 16px;
				background-color: #f0f5f7;
				text-align: left;
				display: block;
				width: 100%;
				margin: 13px 0 0 0;
				height: 40px;
				resize: none;
				font-weight: 700;
				border: 2px solid transparent;
				text-transform: uppercase;
				@include respond-to(410px){
					width: 100%;
				}
				span{
					vertical-align: middle;
					vertical-align: -webkit-baseline-middle;
				}
			}
			.amount_input {
				width: 100%;
				height: 40px;
				font-size: 16px;
				font-family:'Open Sans', sans-serif;
				float: left;
				border: 2px solid #d7dfe3;
				color: #303d42;
				outline: none;
				background: transparent;
				text-align: left;
				padding: 2px 10px;
				border-radius: 0;
				box-shadow: none;
				-webkit-transition: all 0.4s ease;
				-moz-transition: all 0.4s ease;
				-ms-transition: all 0.4s ease;
				-o-transition: all 0.4s ease;
				transition: all 0.4s ease;
				&:focus {
					border-color: #88cbf5;
					outline: 0;
					-webkit-box-shadow: none;
					box-shadow:none;
				}
				@include respond-to(550px){
					float:right;
				}
				@include respond-to(375px){
					width: 100%;
				}
			}
			select.amount_input{
				-webkit-appearance: none;
				-moz-appearance: none;
				background: transparent url('../img/homepage/drop-icon.png') no-repeat right 14px center;
				option{
					font-size: 18px;
					color:#303d42;
				}
			}
		}
	}
	.amount_input {
		width: 100%;
		height: 40px;
		font-size: 16px;
		font-family:'Open Sans', sans-serif;
		float: left;
		border: 2px solid #d7dfe3;
		color: #303d42;
		outline: none;
		background: transparent;
		text-align: left;
		padding: 2px 10px;
		border-radius: 0;
		box-shadow: none;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&:focus {
			border-color: #88cbf5;
			outline: 0;
			-webkit-box-shadow: none;
			box-shadow:none;
		}
		@include respond-to(550px){
			float:right;
		}
		@include respond-to(375px){
			width: 100%;
		}
	}
	select.amount_input{
		-webkit-appearance: none;
		-moz-appearance: none;
		background: transparent url('../img/homepage/drop-icon.png') no-repeat right 14px center;
		option{
			font-size: 18px;
			color:#303d42;
		}
	}
}


#about{
    padding-top: 115px;
    padding-bottom: 60px;
    min-height: 840px;
    background-image: linear-gradient( 90deg, rgb(28,74,100) 0%, rgb(0,31,52) 100%);
    background-image: -moz-linear-gradient( 90deg, rgb(28,74,100) 0%, rgb(0,31,52) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(28,74,100) 0%, rgb(0,31,52) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(28,74,100) 0%, rgb(0,31,52) 100%);
    @include respond-to(991px){
        padding: 50px 0;
    }
    .what-title-1{
		text-transform: uppercase;
		font-weight: 300;
		font-size: 20px;
		line-height: 1.25;
		margin-bottom: 20px;
		color: #fff;
		text-align: center;
	}

    .what-title-2{
        padding-bottom: 100px;
		color: #fff;
		text-align: center;
		font-weight: 700;
		font-size: 40px;
		line-height: 1;
		letter-spacing: 0;
		position: relative;
		z-index: 1;
        @include respond-to(991px){
            padding-bottom: 80px;
        }
        &:after{
            background: url("../img/homepage/sub_title_2_icon_about.png") center no-repeat;
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			top: 70px;
			width: 475px;
			height: 30px;
			margin-left: -237.5px;
            @include respond-to(991px){
                top: 120px;
            }
            @include respond-to(767px){
                top: 180px;
            }
            @include respond-to(415px){
                top: 120px;
            }
            @include respond-to(321px){
                top: 168px;
            }
        }
    }
    .video_bg{
        height: 448px;
        background: url(../img/homepage/about_video_bg.png) center no-repeat;
        background-size: contain;
    }
    .about_description{
        color: white;
        padding-top: 45px;
        p{
            color: white;
            margin-bottom: 40px;
        }
        .lite_certificate{
            color: white;
            margin-bottom: 0;
            height: 70px;
            background: url("../img/homepage/lite_certificate.png") no-repeat;
            background-position: center left;
            padding-left: 90px;
            padding-top: 20px;
            display: inline-block;
            vertical-align: top;
            width: 54%;
            @include respond-to(1199px){
                padding-top: 8px;
            }
            @include respond-to(991px){
                width: 100%;
            }
        }
        .comodo_certificate{
            background: url("../img/homepage/comodo_certificate.png") no-repeat center;
            background-size: contain;
            height: 70px;
            display: inline-block;
            margin-bottom: 0;
            width: 45%;
            @include respond-to(991px){
                width: 100%;
                margin-top: 15px;
                background-position: center left;
            }
        }
    }
}

#statistic{
    padding: 100px 0;
    @include respond-to(991px){
        padding: 50px 0;
    }
    .what-title-1{
		text-transform: uppercase;
		font-weight: 300;
		font-size: 20px;
		line-height: 1.25;
		color: #303d42;
        text-align: center;
        margin-bottom: 30px;
    }
    .what-title-2{
		font-weight: 700;
		font-size: 40px;
		line-height: 1;
		letter-spacing: 0;
		color: #303d42;
		overflow: hidden;
		position: relative;
		z-index: 1;
        text-align: center;
        padding-bottom: 120px;
        &::after{
            background: url("../img/homepage/sub_title_2_icon_statistic.png") center no-repeat;
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			top: 70px;
			width: 475px;
			height: 30px;
			margin-left: -237.5px;
            @include respond-to(525px){
                top: 120px;
            }
        }
    }
    .stat_data{
        .stat_title{
            font-weight: 700;
            font-size: 16px;
            font-family: 'Open Sans', sans-serif;
            color: #303d42;
        }
        .stat_list{
            list-style: none;
            font-family: 'Open Sans', sans-serif;
            color: #303d42;
            li{
                font-size: 14px;
                span{
                    float: right;
                }
            }
        }
    }
    .stat_circles{
        position: relative;
        z-index: 1;
        .first_circle,
        .second_circle,
        .third_circle{
            width: 33%;
            min-height: 316px;
            float: left;
            position: relative;
            z-index: 1;
            .circle{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 207px;
                height: 207px;
            }
            @include respond-to(991px){
                .circle_line{
                    display: none;
                }
            }
        }
        .first_circle{
            .circle{
                background: url("../img/homepage/first_stat_circle.png") center no-repeat;
            }
            .circle_line{
                border-top: 1px solid #d7dfe3;
                border-right: 1px solid #d7dfe3;
                width: 266px;
                height: 52px;
                position: absolute;
                top: 11px;
                left: -128px;
                &::after{
                    content: '';
                    display: block;
                    width: 10px;
                    height: 10px;
                    background-color: #d7dfe3;
                    border-radius: 10px;
                    position: absolute;
                    right: -6px;
                    bottom: 3px;
                }
                @include respond-to(1199px){
                    width: 202px;
                    left: -88px;
                }
            }
        }
        .second_circle{
            .circle{
                background: url("../img/homepage/second_stat_circle.png") center no-repeat;
            }
            .circle_line{
                border-bottom: 1px solid #d7dfe3;
                border-left: 1px solid #d7dfe3;
                width: 420px;
                height: 164px;
                position: absolute;
                top: 116px;
                right: 140px;
                .sub_line{
                    border-right: 1px solid #d7dfe3;
                    height: 20px;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
                &::before{
                    content: '';
                    display: block;
                    border-top: 1px solid #d7dfe3;
                    height: 1px;
                    width: 124px;
                    position: absolute;
                    right: 419px;
                }
                &::after{
                    content: '';
                    display: block;
                    width: 10px;
                    height: 10px;
                    background-color: #d7dfe3;
                    border-radius: 10px;
                    position: absolute;
                    right: -4px;
                    bottom: 12px;
                }
                @include respond-to(1199px){
                    width: 338px;
                    right: 116px;
                    &::before{
                        width: 93px;
                        right: 338px;
                    }
                }
            }
        }
        .third_circle{
            .circle{
                background: url("../img/homepage/third_stat_circle.png") center no-repeat;
            }
            .circle_line{
                border-bottom: 1px solid #d7dfe3;
                border-left: 1px solid #d7dfe3;
                width: 715px;
                height: 96px;
                position: absolute;
                top: 216px;
                right: 140px;
                .sub_line{
                    border-right: 1px solid #d7dfe3;
                    height: 54px;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
                &::before{
                    content: '';
                    display: block;
                    border-top: 1px solid #d7dfe3;
                    height: 1px;
                    width: 108px;
                    position: absolute;
                    right: 714px;
                }
                &::after{
                    content: '';
                    display: block;
                    width: 10px;
                    height: 10px;
                    background-color: #d7dfe3;
                    border-radius: 10px;
                    position: absolute;
                    right: -4px;
                    bottom: 46px;
                }
                @include respond-to(1199px){
                    width: 589px;
                    right: 116px;
                    &::before{
                        width: 71px;
                        right: 589px;
                    }
                }
            }
        }
    }
    .btn-blue{
        min-width: 370px;
        margin-top: 60px;
        @include respond-to(991px){
            margin-top: 0;
        }
        @include respond-to(400px){
            width: 100%;
            min-width: 290px;
        }
    }
}

#partners{
    padding: 100px 0;
    background-image: linear-gradient( 90deg, rgb(28,74,100) 0%, rgb(0,31,52) 100%);
    background-image: -moz-linear-gradient( 90deg, rgb(28,74,100) 0%, rgb(0,31,52) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(28,74,100) 0%, rgb(0,31,52) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(28,74,100) 0%, rgb(0,31,52) 100%);
    @include respond-to(991px){
        padding: 50px 0;
    }
    .what-title-1{
        text-align: center;
        color: #fff;
        margin-bottom: 30px;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 20px;
		line-height: 1.25;
    }
    .what-title-2{
        text-align: center;
        padding-bottom: 120px;
        color: #fff;
		font-weight: 700;
		font-size: 40px;
		line-height: 1;
		letter-spacing: 0;
		overflow: hidden;
		position: relative;
		z-index: 1;
        @include respond-to(991px){
            padding-bottom: 80px;
        }
        &::after{
            background: url("../img/homepage/sub_title_2_icon_partners.png") center no-repeat;
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			top: 70px;
			width: 475px;
			height: 30px;
			margin-left: -237.5px;
            @include respond-to(991px){
                top: 120px;
            }
        }
    }
    .partner_info{
        .partner_info_title{
            font-weight: 700;
            font-size: 18px;
            font-family: 'Open Sans', sans-serif;
            text-align: center;
            color: white;
            margin: 0 0 30px;
        }
        .partner_info_desc{
            font-size: 16px;
            font-family: 'Open Sans', sans-serif;
            color: white;
            min-height: 150px;
            margin: 0;
            @include respond-to(991px){
                min-height: 0;
                padding-bottom: 30px;
            }
        }
        .partner_info_image_first,
        .partner_info_image_second,
        .partner_info_image_third{
            margin: 0 auto 30px auto;
            width: 100px;
            height: 100px;
            background-size: contain;
            background-position: center;
        }
        .partner_info_image_first{
            background-image: url("../img/homepage/partner_info_image_first.png");
        }
        .partner_info_image_second{
            background-image: url("../img/homepage/partner_info_image_second.png");
        }
        .partner_info_image_third{
            background-image: url("../img/homepage/partner_info_image_third.png");
        }
    }
    .btn-blue{
        width: 100%;
        @include respond-to(991px){
            margin-bottom: 30px;
        }
    }
}

#philosophy{
    padding: 100px 0;
    @include respond-to(991px){
        padding: 50px 0;
    }
    .what-title-1{
        text-align: center;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 20px;
		line-height: 1.25;
		color: #303d42;
		margin-bottom: 20px;
    }
    .what-title-2 {
        padding-bottom: 100px;
		text-align: center;
		font-weight: 700;
		font-size: 40px;
		line-height: 1;
		letter-spacing: 0;
		color: #303d42;
		overflow: hidden;
		position: relative;
		z-index: 1;
        @include respond-to(991px){
            padding-bottom: 80px;
        }
        &::after {
            background: url("../img/homepage/sub_title_2_icon_philosophy.png") center no-repeat;
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			top: 70px;
			width: 475px;
			height: 30px;
			margin-left: -237.5px;
            @include respond-to(991px){
                top: 120px;
            }
        }
    }
    .philosophy_list{
        list-style: none;
        float: left;
        width: 100%;
        @include respond-to(767px){
            float: none;
        }

        li{
            float: left;
            padding-bottom: 55px;
            @include respond-to(767px){
                float: none;
                padding-bottom: 30px;
            }
        }

        .philosophy_img_1,
        .philosophy_img_2,
        .philosophy_img_3,
        .philosophy_img_4{
            float: left;
            min-width: 300px;
            height: 100px;
            background-position: 92% center;
            background-repeat: no-repeat;
            margin-top: 6px;

            @include respond-to(991px){
                min-width: 190px;
            }
            @include respond-to(767px){
                float: none;
                background-position: center center;
                margin-bottom: 10px;
            }
        }
        .philosophy_img_1{
            background-image: url("../img/homepage/phil_img_1.png");
            @include respond-to(767px){
                background-image: url("../img/homepage/phil_img_1_xs.png");
            }
        }
        .philosophy_img_2{
            background-image: url("../img/homepage/phil_img_2.png");
            @include respond-to(767px){
                background-image: url("../img/homepage/phil_img_2_xs.png");
            }
        }
        .philosophy_img_3{
            background-image: url("../img/homepage/phil_img_3.png");
            @include respond-to(767px){
                background-image: url("../img/homepage/phil_img_3_xs.png");
            }
        }
        .philosophy_img_4{
            background-image: url("../img/homepage/phil_img_4.png");
            @include respond-to(767px){
                background-image: url("../img/homepage/phil_img_4_xs.png");
            }
        }
        .philosophy_title{
            font-size: 16px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            color: #333333;
            float: left;
            width: 70%;
            @include respond-to(1199px){
                width: 62%;
            }
            @include respond-to(991px){
                width: 70%;
            }
            @include respond-to(767px){
                width: 100%;
                float: none;
                text-align: center;
            }
        }
        .philosophy_description{
            font-size: 14px;
            font-family: 'Open Sans', sans-serif;
            color: #333333;
            float: left;
            width: 70%;
            @include respond-to(1199px){
                width: 62%;
            }
            @include respond-to(991px){
                width: 70%;
            }
            @include respond-to(767px){
                width: 100%;
                float: none;
                text-align: center;
            }
        }
    }

    .btn-blue{
        min-width: 370px;
        @include respond-to(400px){
            width: 100%;
            min-width: 290px;
        }
    }
}



#partners-video {
	.video-container {
		position: absolute;
		width: 100%;
		max-width: none;
		top: 0;
		left: 0;
		perspective: 2000px;
		perspective-origin: 50% 50%;
		z-index: 1000;
		pointer-events: none;
		&.collapsed{
			&.show-play{
				.play{
					opacity: 1;
				}
			}
			.video{
				cursor: pointer;
				/*transform: scale(.45) rotateX(3deg) rotateY(-15deg) rotate(-1deg) translateX(500px) translateY(300px) !important;*/
				transform: scale(.45) rotateX(2deg) rotateY(40deg) rotate(-1deg) translateX(0) translateY(0)!important;
				left: -250px;
				top: -90px;
				video{
					border-radius: 0;
				}
			}
		}
		.video{
			position: relative;
			pointer-events: all;
			box-shadow: 0 55px 70px -20px rgba(50, 50, 93, .55), 0 20px 30px -10px rgba(0, 0, 0, .14);
			&:hover{
				.play{
					transform: scale(1.1);
				}
			}
			&:active{
				.play{
					transform: none;
				}
			}
			&.animated{
				transition: transform .4s cubic-bezier(.645, 0, .355, 1);
			}
			.play{
				display: -ms-flexbox;
				display: flex;
				-ms-flex-align: center;
				align-items: center;
				-ms-flex-pack: center;
				justify-content: center;
				position: absolute;
				width: 120px;
				height: 120px;
				top: 50%;
				margin-top: -60px;
				left: 50%;
				margin-left: -60px;
				border-radius: 50%;
				background-color: hsla(0, 0%, 100%, .5);
				opacity: 0;
				transform-style: preserve-3d;
				pointer-events: none;
				background-image: url('../img/homepage/play.svg');
				background-position: calc(50% + 4px) 50%;
				background-repeat: no-repeat;
				transition: opacity .4s cubic-bezier(.645, 0, .355, 1), transform .15s cubic-bezier(.645, 0, .355, 1);
			}
			video{
				background-color: black;
				display: block;
				position: relative;
				border-radius: 0;
				-webkit-mask-image: url('../img/homepage/about_video.png');
				transition: border-radius .4s cubic-bezier(.645, 0, .355, 1);
			}
		}
	}
}

