.lines {
	display: flex;
	align-items:center;
	justify-content: flex-start;
	background: #f2f2f2;
	border-radius: 30px;
	width: 100%;

	&__first, &__second, &__third{
		min-height: 10px;
		width: 100px;
		position: relative;

		&:after {
			content: attr(data-proc);
			position: absolute;
			right: -1em;
			top: -1em;
			border-radius: 50%;
			border: 1px solid $black-font;
			width: 42px;
			height: 42px;
			background: white;
			font-size: 18px;
			font-weight: bold;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 10;

			@media (max-width: 940px) {
				width: 30px;
				height: 30px;
				font-size: 14px;
				top: -0.7em;
			}

			@media (max-width: 480px) {
				top: -0.7em;
			}
		}
	}

	&__first {
		background: #4d4d4d;
		border-radius: 30px 0 0 30px;
		width: 170px;

		&_jun {
			width: 15%;
			@media (max-width: 480px){
				width: 25%;
			}
		}
		&_mid {
			width: 25%;
			@media (max-width: 480px){
				width: 34%;
			}
		}
		&_sen {
			width: 35%;
			@media (max-width: 480px){
				width: 39%;
			}
		}
		&_mjun {
			width: 35%;
			// @media (max-width: 650px){
			// 	width: 59%;
			// }
		}
		&_mmid{
			width: 42%;
			// @media (max-width: 650px){
			// 	width: 65%;
			// }
		}
		&_msen {
			width: 50%;
			// @media (max-width: 650px){
			// 	width: 72%;
			// }
		}
		&_mlead {
			width: 55%;
			// @media (max-width: 650px){
			// 	width: 55%;
			// }
		}
		&_mpartner {
			width: 65%;
			// @media (max-width: 650px){
			// 	width: 90%;
			// }
		}
	}

	&__second {
		background: #999999;
		width: 10%;
		@media (max-width: 650px){
			width: 20%;
		}

		&_medium {
			width: 15%;
		}

		&_long {
			width: 27%;
		}
	}

	&__third {
		background: #cccccc;
		width: 7%;

		@media (max-width: 650px){
			width: 15%;
		}
	}
}