.members {
	background-image: url('../img/partner/back.png');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 120px 0;

	@media (max-width: 480px) {
		padding: 60px 0;
	}

	&__title {
		font-size: 50px;
		color: white;
		line-height: 1;
		margin-bottom: 30px;
		text-transform: uppercase;

		@media (max-width: 480px) {
			font-size: 30px;
			padding: 0 20px; 
		}
	}

	.top-invest-buttons {
		margin-top: 55px;

		.btn {
			@media (max-width: 480px) {
				min-width: unset !important;
			}
		}
	}

	&__subtitle {
		font-size: 16px;
		line-height: 1.25;
		color: white;
		margin-bottom: 60px;

		@media (max-width: 480px) {
			padding: 0 20px; 
		}
	}

	&__type {
		margin-bottom: 30px;
		background-color: white;
		background-image: url('../img/partner/icons.png');
		background-repeat: no-repeat;
		background-size: contain;

		@media (max-width: 1170px) {
			margin-bottom: 55px;
		}

		@media (max-width: 940px) {
			padding: 50px 128px;
		}

		@media (max-width: 940px) {
			padding: 20px 30px;
		}

		.card-label {
			border-width: 0px;

			&__title, &__subtitle {
				color: white;
			}

			&__ico {
				background: white;
				color: #33a0e5;
				width: 27px;
				height: 27px;
			}

			&_usd {
				background: linear-gradient(90deg,#37a7ff 0,#0066ff 100%);
			}
			&_proc {
				background: linear-gradient(90deg, #9013fe 0, #720ec9 100%);
				.card-label__ico {
					color: #9013fe;
				}
			}
		}

		.lines {

			&__first {
				background: linear-gradient(90deg,#37a7ff 0,#0066ff 100%);
			}
			&__second {
				background: linear-gradient(90deg,#9ed5ff 0,#4c94ff 100%);
			}
			&__third {
				background: linear-gradient(90deg,#d1ebff 0,#99c2ff 100%);
			}
			&_partner {
				.lines {
					&__first {
						background: linear-gradient(90deg,#ffe400 0,#ffc000 100%);
					}
					&__second {
						background: linear-gradient(90deg,#fff066 0,#ffd966 100%);
					}
					&__third {
						background: linear-gradient(90deg,#fff7b2 0,#ffecb2 100%);
					}
				}
			}
		}
	}
}