html{
  height:100%;
}
.first_home {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: rgba(0,26,51,.8);
  height:100%;

  p{
    font-size:14px;
  }

  .header-page {
    color:#ffffff;
  }

  .form-text {
    color: #fff;
  }

  .page-faq{
    p{
      color:#ffffff;
      a{
        color: #337ab7;
        text-decoration: none;
        &:hover,
        &:active,
        &:focus{
          color: #ffffff;
          text-decoration: underline;
        }
      }
    }
  }

  .page-rules{
    p{
      color:#ffffff;
      a{
        color: #337ab7;
        text-decoration: none;
        &:hover,
        &:active,
        &:focus{
          color: #ffffff;
          text-decoration: underline;
        }
      }
    }
  }

  .page-support{
    h3{
      color:#ffffff;
    }
  }



  header {
    z-index: 1;
    .header{
      .logo {
        height: 68px;
        width: 68px;
        margin-left: 15px;
        margin-top: 15px;
        background: url(../img/center_logo.png) center no-repeat;
        background-size: 100% 100%;
        display: block;
        float: left;
        transition: all .5s
      }
    }
  }


  .header-menu.homepage-menu {
    position: absolute;
    background: 0 0;
    width: 100%
  }

  .header-menu .mobile {
    display: none;
    position: absolute;
    right: 0;
    overflow: hidden
  }

  @media (max-width: 767px) {
    .header-menu .mobile {
      display: block
    }
  }

  .header-menu .mobile .mobileMenu {
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: relative;
    font-size: 30px;
    float: right;
    margin: 30px 15px;
    color: #fff
  }

  .header-menu .mobile.active {
    overflow: inherit
  }

  .header-menu .mobile.active .mobileMenu {
    display: none
  }

  .header-menu .mobile.active .popupMenu {
    z-index: 30;
    opacity: 1;
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
    transform: rotate3d(1, 1, 0, 0deg);
    pointer-events: auto
  }

  .header-menu .mobile.active .popupMenu .popupContainer .popupCloseButton {
    display: block
  }

  .header-menu .mobile .popupMenu {
    padding: 0;
    box-shadow: 0 5px 20px 0 rgba(3, 3, 3, .3);
    overflow: hidden;
    z-index: -1;
    position: absolute;
    width: 450px;
    left: auto;
    top: 10px;
    right: 10px;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    opacity: 0;
    -webkit-transform: rotate3d(1, 1, 0, -20deg);
    transform: rotate3d(1, 1, 0, -20deg);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    will-change: transform, opacity;
    transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
    transition-duration: .25s;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: end;
    -webkit-box-pack: start;
    justify-content: flex-start;
    pointer-events: none
  }

  @media (max-width: 490px) {
    .header-menu .mobile .popupMenu {
      width: 100%;
      min-width: 390px
    }
  }

  @media (max-width: 420px) {
    .header-menu .mobile .popupMenu {
      width: 100%;
      min-width: 290px
    }
  }

  .header-menu .mobile .popupMenu .popupContainer {
    background: #fff;
    overflow: hidden;
    position: relative;
    width: 100%
  }

  .header-menu .mobile .popupMenu .popupContainer .popup-top-menu {
    padding: 20px 30px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }

  .header-menu .mobile .popupMenu .popupContainer .popup-top-menu ul {
    margin: 0;
    padding: 0
  }

  .header-menu .mobile .popupMenu .popupContainer .popup-top-menu ul li {
    list-style: none;
    float: left;
    width: 50%
  }

  @media (max-width: 420px) {
    .header-menu .mobile .popupMenu .popupContainer .popup-top-menu ul li {
      width: 100%;
      line-height: 24px
    }
  }

  .header-menu .mobile .popupMenu .popupContainer .popup-top-menu ul li a {
    display: inline-block;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    transition: all .1s ease;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: #333;
    text-transform: uppercase;
    position: relative
  }

  .header-menu .mobile .popupMenu .popupContainer .popup-top-menu ul li a.active, .header-menu .mobile .popupMenu .popupContainer .popup-top-menu ul li a:active, .header-menu .mobile .popupMenu .popupContainer .popup-top-menu ul li a:focus, .header-menu .mobile .popupMenu .popupContainer .popup-top-menu ul li a:hover {
    color: #000;
    text-decoration: none
  }

  .header-menu .mobile .popupMenu .popupContainer .popup-center-menu {
    background: #ebebeb;
    padding: 20px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #edf0f4
  }

  @media (max-width: 420px) {
    .header-menu .mobile .popupMenu .popupContainer .popup-center-menu {
      padding: 20px
    }
  }

  .header-menu .mobile .popupMenu .popupContainer .popup-center-menu ul {
    margin: 0;
    padding: 0;
    width: 100%
  }

  .header-menu .mobile .popupMenu .popupContainer .popup-center-menu ul li {
    list-style: none;
    float: left;
    width: 50%
  }

  @media (max-width: 420px) {
    .header-menu .mobile .popupMenu .popupContainer .popup-center-menu ul li {
      width: auto;
      padding-right: 20px
    }
  }

  .header-menu .mobile .popupMenu .popupContainer .popup-center-menu ul li a {
    display: inline-block;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    transition: all .1s ease;
    text-decoration: none;
    color: #333;
    height: 16px;
    position: relative
  }

  .header-menu .mobile .popupMenu .popupContainer .popup-center-menu ul li a i {
    transition: all .1s ease
  }

  .header-menu .mobile .popupMenu .popupContainer .popup-center-menu ul li a.active, .header-menu .mobile .popupMenu .popupContainer .popup-center-menu ul li a:active, .header-menu .mobile .popupMenu .popupContainer .popup-center-menu ul li a:focus, .header-menu .mobile .popupMenu .popupContainer .popup-center-menu ul li a:hover {
    color: #000;
    text-decoration: none
  }

  .header-menu .mobile .popupMenu .popupContainer .popup-center-menu ul li a.active i, .header-menu .mobile .popupMenu .popupContainer .popup-center-menu ul li a:active i, .header-menu .mobile .popupMenu .popupContainer .popup-center-menu ul li a:focus i, .header-menu .mobile .popupMenu .popupContainer .popup-center-menu ul li a:hover i {
    margin-left: 5px;
    transition: all .1s ease
  }

  .header-menu .mobile .popupMenu .popupContainer .popupCloseButton {
    cursor: pointer;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    display: none
  }

  .header-menu .mobile .popupMenu .popupContainer .popupCloseButton:after, .header-menu .mobile .popupMenu .popupContainer .popupCloseButton:before {
    position: absolute;
    background: #001a33;
    border-radius: 1px;
    left: auto;
    right: 14px;
    top: 24px;
    height: 3px;
    width: 23px;
    transition: background .1s;
    content: ''
  }

  .header-menu .mobile .popupMenu .popupContainer .popupCloseButton:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }

  .header-menu .mobile .popupMenu .popupContainer .popupCloseButton:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }

  .header-menu .main-menu {
    float: right;
    margin: 20px 0 0
  }

  @media (max-width: 767px) {
    .header-menu .main-menu {
      display: none
    }
  }

  .header-menu .main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none
  }

  .header-menu .main-menu ul li {
    display: inline-block;
    width: 158px;
    height: 28px;
    text-align: center;
    border: 1px solid #fff;
    margin-right: 20px;
    transition: all .4s ease;
    overflow: hidden
  }

  .header-menu .main-menu ul li a {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #fff;
    line-height: 28px;
    transition: all .4s ease;
    display: block;
    font-style: normal;
    position: relative;
    &:last-of-type{
      padding-right: 10px;
    }
  }

  #fade, .popup {
    display: none
  }

  .header-menu .main-menu ul li a.active,
  .header-menu .main-menu ul li a:active,
  .header-menu .main-menu ul li a:focus,
  .header-menu .main-menu ul li a:hover {
    text-decoration: none;
    color: #000;
    background-color: #fff
  }

  .home + footer .copyright p, footer .copyright p {
    color: #fff;
    font-family: Roboto, sans-serif;
    font-weight: 300
  }

  footer .copyright p {
    margin: 0
  }

  .home + footer .copyright {
    position: relative;
    margin-top: -20px;
    width: 100%;
    z-index: 3
  }

  .home + footer .copyright p {
    margin: 0
  }

  .popup {
    background: #e6eaec;
    width: 490px;
    height: 330px;
    padding: 30px 40px 20px;
    position: fixed;
    top: calc(50% - 165px);
    right: 30px;
    bottom: auto;
    border: 0;
    box-shadow: none;
    z-index: 9
  }

  @media (max-width: 520px) {
    .popup {
      width: calc(100% - 20px);
      padding: 25px 25px 20px;
      top: 15px;
      right: 5px;
      height: auto
    }
    .popup .popup-content p > img {
      max-width: 100%
    }
  }

  .popup .popup-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 22px;
    height: 22px;
    background: url(../img/popup-close.png) top center no-repeat;
    cursor: pointer;
    z-index: 10
  }

  .popup .popup-close:hover {
    opacity: .7;
    -webkit-transform: none;
    transform: none;
    transition: all .5s ease-in-out 0s
  }

  .popup .popup-content .popup-title {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 10px;
    color: #8c9397;
    margin-bottom: 15px;
    font-family: Montserrat, sans-serif;
    font-weight: 700
  }

  .popup .popup-content .popup-title2 {
    font-size: 38px;
    line-height: 1;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: 0;
    color: #192028;
    margin-bottom: 25px
  }

  .home .inner_home, .page-section {
    font-family: Roboto, sans-serif

  }

  @media (max-width: 520px) {
    .popup .popup-content .popup-title2 {
      font-size: 28px
    }
  }

  .popup .popup-content .popup-text {
    color: #333;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 30px
  }

  .popup .popup-content .bounty-text {
    background: url(../img/bounty-popup-img.png) bottom right no-repeat;
    padding-right: 50%;
    min-height: 142px
  }

  .popup .popup-content .bounty-text span {
    color: #fab915;
    font-weight: 700
  }

  #fade {
    background: #005a6d;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    z-index: 298
  }

  * html #fade {
    position: absolute
  }

  .home {
    position: relative;
    min-height: 100%;
    overflow: hidden
  }

  .home::before {
    content: '';
    display: block;
    background: rgba(0, 26, 51, .6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%
  }

  .home .inner_home {
    position: relative;
    padding-top: 10vh;
    width: 100%;
    color: #fff;
    text-transform: uppercase
  }

  .home .inner_home .inner_home-logo_home {
    height: 180px;
    background: url(../img/center_logo.png) center no-repeat
  }

  .home .inner_home .inner_home-title_home {
    color:#ffffff;
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: .72
  }

  .home .inner_home .inner_home-subtitle_home {
    color:#ffffff;
    margin-top: 25px;
    margin-bottom: 0;
    font-weight: 300;
    padding: 0 15px;
    font-size: 30px;
    line-height: 1
  }

  .home .inner_home .inner_home-subtitle_home span {
    font-weight: 700
  }

  .home .inner_home .inner_home-btn_link_home {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #77878e;
    display: inline-block;
    width: 280px;
    height: 70px;
    line-height: 70px;
    font-weight: 300;
    font-size: 40px;
    color: #fff;
    transition: all .4s ease
  }

  .home .inner_home .inner_home-btn_link_home:focus, .home .inner_home .inner_home-btn_link_home:hover {
    text-decoration: none;
    background-color: rgba(119, 135, 142, .6)
  }

  @media screen and (min-width: 768px) {
    .home .inner_home {
      position: relative;
      padding-top: 20vh;
      width: 100%;
      color: #fff;
      text-transform: uppercase;

    }
    .home .inner_home .inner_home-title_home {
      margin-top: 50px;
      margin-bottom: 0;
      font-weight: 700;
      font-size: 100px;
      line-height: .72
    }
    .home .inner_home .inner_home-subtitle_home {
      margin-top: 70px;
      margin-bottom: 0;
      font-weight: 300;
      font-size: 50px;
      line-height: .74
    }
    .home .inner_home .inner_home-subtitle_home span {
      font-weight: 700
    }
    .home .inner_home .inner_home-btn_link_home {
      margin-top: 62px;
      margin-bottom: 62px;
      background-color: #77878e;
      display: inline-block;
      width: 360px;
      height: 70px;
      line-height: 70px;
      font-weight: 300;
      font-size: 40px;
      color: #fff;
      transition: all .4s ease
    }
    .home .inner_home .inner_home-btn_link_home:hover {
      text-decoration: none;
      background-color: rgba(119, 135, 142, .6)
    }
  }

  .page-forgot-pass .btn.btn-restore, .page-login .btn.btn-login, .page-signup .btn.btn-signup, .page-support .btn.btn-form-sup {
    transition: all .4s ease;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300
  }

  .center {
    text-align: center
  }

  .home_bcg_video {
    bottom: 0;
    right: 0;
    background-color: rgba(0, 34, 51, .8);
    background-position: center center;
    background-size: contain;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -3;
    width: 100%;
    min-height: 100%;
    display: block;
    top: 0;
    position: absolute
  }

  body, html {
    height: 100%
  }

  body {
    background-color: rgba(0, 26, 51, .8)
  }

  .page-section {
    min-height: calc(100% - 20px);
    padding-top: 10vh;
    color: #fff
  }

  .page-login .link-blue, .page-signup .link-blue {
    color: #0DC8FF
  }

  .page-login .form-group label, .page-login .header-page {
    text-transform: uppercase
  }

  .page-login .form-group .form-control {
    border-radius: 0
  }

  .page-login .btn.btn-login {
    border-radius: 0;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 10px 80px
  }

  .page-login .btn.btn-login:hover {
    background-color: #fff
  }

  @media screen and (min-width: 768px) {
    .page-login {
      padding-top: 20vh
    }
  }

  .page-signup .form-group label, .page-signup .header-page {
    text-transform: uppercase
  }

  .page-signup .form-group .form-control {
    border-radius: 0
  }

  .page-signup .btn.btn-signup {
    border-radius: 0;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 10px 80px
  }

  .page-signup .btn.btn-signup:hover {
    background-color: #fff
  }

  .page-signup .inform {
    list-style: none;
    color: #000;
    padding: 15px
  }

  .page-forgot-pass .form-group label, .page-forgot-pass .header-page {
    text-transform: uppercase
  }

  .page-forgot-pass .form-group .form-control {
    border-radius: 0
  }

  .page-forgot-pass .link-blue {
    color: #0DC8FF
  }

  .page-forgot-pass .btn.btn-restore {
    border-radius: 0;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 10px 80px
  }

  .page-forgot-pass .btn.btn-restore:hover {
    background-color: #fff
  }

  @media screen and (min-width: 768px) {
    .page-forgot-pass {
      padding-top: 20vh
    }
  }

  .page-faq, .page-registr-comp, .page-rules {
    padding-top: 10vh;
    color: #fff;
    font-family: Roboto, sans-serif
  }

  .page-rules .header-page {
    text-transform: uppercase
  }

  .page-faq .header-page {
    text-transform: uppercase
  }

  .page-registr-comp .header-page,
  .page-support .form-group label,
  .page-support .header-page {
    text-transform: uppercase
  }

  .page-support .form-group .form-control {
    border-radius: 0
  }

  .page-support .link-blue {
    color: #0DC8FF
  }

  .page-support .btn.btn-form-sup {
    border-radius: 0;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 10px 80px
  }

  .page-support .btn.btn-form-sup:hover {
    background-color: #fff
  }

  .page-support .inform {
    list-style: none;
    color: #000;
    padding: 15px
  }

  .checkbox {
    padding-left: 20px
  }

  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 15px;
    text-align: left;
    font-size: 16px;
    text-transform: none;
    font-weight: 400;
    line-height: 22px
  }

  .checkbox label a {
    color: #0DC8FF;
    text-decoration: none
  }

  .checkbox label a:active,
  .checkbox label a:focus,
  .checkbox label a:hover {
    color: #192028;
    text-decoration: none
  }

  .checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 22px;
    height: 22px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #ccc;
    border-radius: 0;
    background-color: #fff;
    transition: border .15s ease-in-out, color .15s ease-in-out
  }

  .checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 21px;
    height: 21px;
    left: 0;
    top: 0;
    margin-left: -19px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 14px;
    color: #555
  }

  .checkbox input[type=checkbox], .checkbox input[type=radio] {
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    margin: 0
  }

  .checkbox input[type=checkbox]:focus + label::before, .checkbox input[type=radio]:focus + label::before {
    outline: 0
  }

  .checkbox input[type=checkbox]:checked + label::after, .checkbox input[type=radio]:checked + label::after {
    font-family: FontAwesome;
    content: "\f00c"
  }

  .checkbox input[type=checkbox]:indeterminate + label::after, .checkbox input[type=radio]:indeterminate + label::after {
    display: block;
    content: "";
    width: 10px;
    height: 3px;
    background-color: #555;
    border-radius: 2px;
    margin-left: -16.5px;
    margin-top: 7px
  }

  .checkbox input[type=checkbox]:disabled, .checkbox input[type=radio]:disabled {
    cursor: not-allowed
  }

  .checkbox input[type=checkbox]:disabled + label, .checkbox input[type=radio]:disabled + label {
    opacity: .65
  }

  .checkbox input[type=checkbox]:disabled + label::before, .checkbox input[type=radio]:disabled + label::before {
    background-color: #eee;
    cursor: not-allowed
  }

  .checkbox-btc input[type=checkbox]:checked + label::before, .checkbox-btc input[type=radio]:checked + label::before {
    background-color: #0DC8FF;
    border-color: #0DC8FF
  }

  .checkbox-btc input[type=checkbox]:checked + label::after, .checkbox-btc input[type=radio]:checked + label::after {
    color: #fff
  }

}