.page-section{
    padding: 45px 0;
}
.header-page{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
    font-family: Montserrat, sans-serif;
    letter-spacing: 0;
    text-align: center;
    color: #192028;
    margin-bottom: 40px;
    @include respond-to(415px){
        font-size: 28px;
        margin-bottom: 25px;
    }
}
.header2{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    font-family: Montserrat, sans-serif;
    letter-spacing: 0;
    text-align: center;
    color: #192028;
    margin-bottom: 40px;
}
.header3{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    font-family: Montserrat, sans-serif;
    letter-spacing: 0;
    text-align: left;
    color: #192028;
    margin:40px 0 30px;
    text-transform: none;
}
.breadcrumbs{
    background-color: #f0f5f7;
    padding: 15px 0;
    #breadcrumbs{
        display:inline-block;
        float:right;
        ul{
            margin: 0;
            padding:0;
            list-style-type: none;
            li {
                float: left;
                font-size: 14px;
                color: #525b64;
                margin-right: 5px;
                &:first-child:before {
                    content: '';
                }
                &:before{
                    content: "|";
                    margin-right:5px;

                }
                a{
                    font-size:14px;
                    color:#192028;
                    text-decoration: none;
                    &:hover,
                    &:focus,
                    &:active{
                        color: #000000;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

#bounty-block {
    background: url('../img/bounty-bg.jpg') top center no-repeat;
    height: 413px;
    padding: 140px 0 40px;
    margin-bottom: 30px;
    .bounty-block {
        margin-bottom: 0;
        .btn{
            margin-bottom: 30px;
            width: 375px;
            @include respond-to(415px){
                width: 100%;
                margin-bottom: 15px;
            }
        }
    }
}
.bounty-page{
    .bounty-header {
        font-size: 64px;
        font-weight: bold;
        line-height: 60px;
        color: #192028;
        @include respond-to(450px){
            font-size: 46px;
            line-height: 40px;
            margin: 0;
        }
    }
    .bounty-text {
        color: #333333;
        font-weight: 200;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 30px;
        a{
            color:#33a0e5;
            &:hover,
            &:focus,
            &:active{
                text-decoration: underline;
            }
        }
        span{
            color:#33a0e5;
        }
    }
}

#contacts-block{
    background: url('../img/contact-bg.jpg') top center no-repeat;
    background-size: cover;
    transition: background 0.3s,border 0.3s,border-radius 0.3s,box-shadow 0.3s;
    padding: 35px 0 25px;
    margin-bottom: 30px;
    .contacts-header{
        font-weight: 700;
        font-size: 72px;
        line-height: 1;
        font-family: Montserrat, sans-serif;
        letter-spacing: 0;
        text-align: center;
        color: #ffffff;
        margin-bottom: 30px;
        @include respond-to(415px){
            font-size: 56px;
        }
    }
    .contacts-text{
        color: #fff;
        width: 340px;
        text-align: left;
        margin: 5px auto;
        font-size: 16px;
        @include respond-to(370px){
            width: 100%;
        }
        i{
            width: 20px;
        }
        a{
            transition: all 0.3s;
            color:#ffffff;
            text-decoration: none;
            &:hover,
            &:active,
            &:focus {
                color: #fab915;
                text-decoration: none;
            }
        }
    }
}

#google-map{
    height: 440px;
    width: 100%;
}

.contacts-label{
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 5px;
    width: 100%;
    & > span{
        color: #33a0e5;
        font-weight: bold;
    }
}
.contacts-input{
    text-align: center;
    color: #525b64;
    padding: 8px 20px;
    font-size: 16px;
    border:1px solid #ccc;
    background-color: #f6f6f6;
    border-radius: 0;
    outline: none;
    line-height: normal;
    box-shadow: none;
    height: 50px;
    &:focus {
        border:2px solid #33a0e5;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.contact-label{
    width: 100%;
    display: block;
    text-align: center;
    color: #525b64;
    padding: 8px 20px;
    font-size: 16px;
    border:2px solid transparent;
    background-color: #f6f6f6;
    border-radius: 0;
    outline: none;
    line-height: normal;
    box-shadow: none;
    height: 50px;
    line-height: 30px;
}
.checkbox {
    padding-left: 20px;
}
    .checkbox label {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        padding-left: 15px;
        text-align: left;
        font-size: 16px;
        text-transform: none;
        font-weight: 400;
        line-height: 22px;
    }
        .checkbox label a{
            color:#33a0e5;
            text-decoration: none;
        }
            .checkbox label a:hover,
            .checkbox label a:focus,
            .checkbox label a:active{
                color:#192028;
                text-decoration: none;
            }
        .checkbox label::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 22px;
            height: 22px;
            left: 0;
            margin-left: -20px;
            border: 1px solid #cccccc;
            border-radius: 0;
            background-color: #fff;
            -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
            -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
            transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        }
        .checkbox label::after {
            display: inline-block;
            position: absolute;
            width: 21px;
            height: 21px;
            left: 0;
            top: 0;
            margin-left: -19px;
            padding-left: 3px;
            padding-top: 1px;
            font-size: 14px;
            color: #555555;
        }
        .checkbox input[type="checkbox"],
        .checkbox input[type="radio"] {
            opacity: 0;
            z-index: 1;
            cursor: pointer;
            margin: 0;
        }
            .checkbox input[type="checkbox"]:focus + label::before,
            .checkbox input[type="radio"]:focus + label::before {
               /* outline: thin dotted;
                outline: 5px auto -webkit-focus-ring-color;
                outline-offset: -2px;*/
                outline: none;
            }
                .checkbox input[type="checkbox"]:checked + label::after,
                .checkbox input[type="radio"]:checked + label::after {
                    font-family: "FontAwesome";
                    content: "\f00c";
                }
                    .checkbox input[type="checkbox"]:indeterminate + label::after,
                    .checkbox input[type="radio"]:indeterminate + label::after {
                        display: block;
                        content: "";
                        width: 10px;
                        height: 3px;
                        background-color: #555555;
                        border-radius: 2px;
                        margin-left: -16.5px;
                        margin-top: 7px;
                    }
                        .checkbox input[type="checkbox"]:disabled,
                        .checkbox input[type="radio"]:disabled {
                            cursor: not-allowed;
                        }
                            .checkbox input[type="checkbox"]:disabled + label,
                            .checkbox input[type="radio"]:disabled + label {
                                opacity: 0.65;
                            }
                                .checkbox input[type="checkbox"]:disabled + label::before,
                                .checkbox input[type="radio"]:disabled + label::before {
                                    background-color: #eeeeee;
                                    cursor: not-allowed;
                                }

    .checkbox-btc input[type="checkbox"]:checked + label::before,
    .checkbox-btc input[type="radio"]:checked + label::before {
        background-color: #33a0e5;
        border-color: #33a0e5;
    }
    .checkbox-btc input[type="checkbox"]:checked + label::after,
    .checkbox-btc input[type="radio"]:checked + label::after {
        color: #fff;
    }
.radio {
  padding-left: 20px;
}
    .radio label {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        padding-left: 5px;
        color:#192028;
    }
        .radio label::before {
          content: "";
          display: inline-block;
          position: absolute;
          width: 17px;
          height: 17px;
          left: 0;
          margin-left: -20px;
          border: 1px solid #cccccc;
          border-radius: 50%;
          background-color: #fff;
          -webkit-transition: border 0.15s ease-in-out;
          -o-transition: border 0.15s ease-in-out;
          transition: border 0.15s ease-in-out;
        }
            .radio label::after {
              display: inline-block;
              position: absolute;
              content: " ";
              width: 11px;
              height: 11px;
              left: 3px;
              top: 3px;
              margin-left: -20px;
              border-radius: 50%;
              background-color: #555555;
              -webkit-transform: scale(0, 0);
              -ms-transform: scale(0, 0);
              -o-transform: scale(0, 0);
              transform: scale(0, 0);
              -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
              -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
              -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
              transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
            }
                .radio input[type="radio"] {
                  opacity: 0;
                  z-index: 1;
                }
                    .radio input[type="radio"]:focus + label::before {
                      outline: none;
                      /*outline: thin dotted;
                      outline: 5px auto -webkit-focus-ring-color;
                      outline-offset: -2px;*/
                    }
                        .radio input[type="radio"]:checked + label::after {
                          -webkit-transform: scale(1, 1);
                          -ms-transform: scale(1, 1);
                          -o-transform: scale(1, 1);
                          transform: scale(1, 1);
                        }
                            .radio input[type="radio"]:disabled + label {
                              opacity: 0.65;
                            }
                                .radio input[type="radio"]:disabled + label::before {
                                  cursor: not-allowed;
                                }
                                    .radio.radio-inline {
                                      margin-top: 0;
                                    }
    .radio-info input[type="radio"] + label::after {
        background-color: #4fafeb;
    }
    .radio-info input[type="radio"]:checked + label::before {
        border-color: #4fafeb;
    }
    .radio-info input[type="radio"]:checked + label::after {
        background-color: #4fafeb;
    }
    .radio-info input[type="radio"]:checked + label{
        color: #4fafeb;
        font-weight: 700;
    }




    .radio-btc input[type="radio"] + label::after {
      background-color: #33a0e5;
    }
    .radio-btc input[type="radio"]:checked + label::before {
      border-color: #33a0e5;
    }
    .radio-btc input[type="radio"]:checked + label::after {
      background-color: #33a0e5;
    }

.form-text{
    margin-bottom: 5px;
    text-align: center;
}
.faq{
}
     .faq ul li h4{
        background: #525b64;
        margin: 0;
        font-size: 18px;
        text-transform: none;
        color:#ffffff;
        cursor: pointer;
        position: relative;
        padding: 15px 20px;
        font-weight: 400;
        line-height: 1;
    }
        .faq ul li h4:before{
            display: block;
            position: absolute;
            right: 10px;
            top: 15px;
            content: "+";
            width: 20px;
            height: 20px;
            text-align: center;
            font-size: 28px;
            line-height: 14px;
            color: #ffffff;
        }
             .faq ul li.active h4:before{
                content: "-";
                font-size: 38px;
             }
        .faq ul{
            list-style: none;
            margin: 0;
            padding: 0;
        }
            .faq ul li{
                border: 1px solid #ffffff;
            }
                .faq .answer{
                    padding: 15px 20px;
                }
                     .faq .answer p{
                        margin: 0;
                    }
                        .faq .answer p a {
                            text-decoration: none;
                            color:#33a0e5;
                        }
                            .faq .answer p a:hover,
                            .faq .answer p a:focus,
                            .faq .answer p a:active{
                                text-decoration: none;
                                color:#192028;
                            }
.table-site{
    &.table-filter{
        select{
            @include respond-to(991px){
                width: inherit;
                margin-bottom: 0;
            }
        }
    }
    thead{
        tr {
            background: #e4eaf0;
            th{
                border-bottom-width: 1px;
                &:last-of-type {
                    text-align: right;
                }
                &.text-center {
                    text-align: center;
                }
            }
        }
    }
    tbody {
        tr {
            border-bottom-width: 1px;
            td {
                &:last-of-type {
                    text-align: right;
                }
                &.text-center {
                    text-align: center;
                }
            }
        }
    }
    .btn{
        border-radius: 0;
    }
}

.pages {
    width: 100%;
    padding: 15px 0 0;
    text-align: center;
    .pages-content {
        display: -moz-inline-box;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        padding: 5px;
        .currentpage {
            line-height: 28px;
            width: 30px;
            height: 30px;
            background-color: #fab915;
            margin: 2px;
            float: left;
            vertical-align: middle;
            font-size: 20px;
            color: #ffffff;
            .currentlink {
                font-size: 20px;
                color: #ffffff;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .pagelink {
            width: 30px;
            height: 30px;
            margin: 2px;
            float: left;
            vertical-align: middle;
            line-height: 28px;
            .link {
                font-size: 20px;
                color: #fab915;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .nextpage {
            width: 30px;
            height: 30px;
            margin: 2px 0;
            float: left;
            vertical-align: middle;
            line-height: 28px;
            .nextlink{
                font-size: 20px;
                color: #fab915;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

/* ABOUT */
.about-page{
    .about-header{
        font-size: 64px;
        font-weight: bold;
        line-height: 60px;
        color:#192028;
        @include respond-to(450px){
            font-size: 46px;
            line-height: 40px;
            margin: 0;
        }
    }
    .about-text{
        color:#333333;
        font-weight: 200;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 30px;
    }
    .about-header-2{
        margin-top: 80px;
        line-height: 30px;
        font-size: 24px;
        color:#192028;
        font-weight: bold;
        @include respond-to(450px){
            font-size: 36px;
            font-weight: 700;
            text-align: center;
        }
    }
    .team{
        margin-top: 70px;
        @include respond-to(450px){
            margin-top: 30px;
        }
        .leader{
            width: 165px;
            margin: 0 30px 30px 0;
            display: block;
            float: left;
            height: 230px;
            @include respond-to(450px){
                width: 100%;
                margin: 0 0 30px 0;
                display: block;
                float: none;
                height: 230px;
                text-align: center;
            }
            &:last-of-type{
                margin-right: 0;
            }
            img{
                margin-bottom: 15px;
                @include transition(all 0.3s);
                &:hover{
                    opacity: 0.8;
                }
            }
            p{
                font-weight: 400;
                font-size: 14px;
                text-align: left;
                &:first-of-type{
                    margin-bottom: 0;
                    font-size: 18px;
                    color:#333333;
                    line-height: 26px;
                    font-weight: bold;
                }
                @include respond-to(450px){
                    text-align: center;
                }
            }
        }
    }
}

/* END ABOUT */

/* GET STARTED */
/* ABOUT */
.getstarted-page {
    .started-header {
        font-size: 64px;
        font-weight: bold;
        line-height: 60px;
        color: #192028;
        @include respond-to(450px){
            font-size: 46px;
            line-height: 40px;
            margin: 0;
        }
    }
    .started-text {
        color: #333333;
        font-weight: 200;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 30px;
    }
    .started-header-2 {
        margin-top: 25px;
        line-height: 30px;
        font-size: 24px;
        color: #192028;
        font-weight: bold;
    }
    .started-images{
        display: inline-block;
        width: 100%;
        .image{
            width: calc(50% - 15px);
            float:left;
            margin-bottom: 30px;
            margin-right: 30px;
            @include respond-to(600px){
                width: 100%;
                margin-right: 0;
            }
            &:last-of-type{
                margin-right: 0;
            }
            img{
                cursor: pointer;
                width: 100%;
                @include transition(all .3s ease-in-out);
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
    .btn-blue{
        margin: 50px 0 30px;
    }
}
/* END GET STARTED */