.popup{
    background: #e6eaec;
    width: 490px;
    height: 330px;
    padding: 30px 40px 20px 40px;
    position: fixed;
    top:calc(50% - 165px);
    right: 30px;
    display: none;
    bottom: auto;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
    z-index: 9;
    @include respond-to(520px){
        width: calc(100% - 20px);
        padding: 25px 25px 20px 25px;
        top:15px;
        right: 5px;
        height: auto;
    }
    .popup-close {
        position:absolute;
        top:20px;
        right:20px;
        width:22px;
        height:22px;
        background: url("../img/popup-close.png") top center no-repeat;
        cursor:pointer;
        z-index: 10;
        &:hover {
            opacity:0.7;
            transform: none;
            transition: all 0.5s ease-in-out 0s;
        }
    }
    .popup-content{
        p > img{
            @include respond-to(520px){
                max-width: 100%;
            }
        }
        .popup-title{
            text-transform: uppercase;
            font-size: 24px;
            line-height: 1.25;
            letter-spacing: 10px;
            color: #8c9397;
            margin-bottom: 15px;
            font-family: Montserrat,sans-serif;
            font-weight: 700;
        }
        .popup-title2{
            font-size: 38px;
            line-height: 1;
            font-family: Montserrat,sans-serif;
            font-weight: 700;
            letter-spacing: 0;
            color: #192028;
            margin-bottom: 25px;
            @include respond-to(520px){
                font-size: 28px;
            }
        }
        .popup-text{
            color:#333333;
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 30px;

        }
        .bounty-text{
            background: url("../img/bounty-popup-img.png") bottom right no-repeat;
            padding-right: 50%;
            min-height: 142px;
            span{
                color:$yellow;
                font-weight: bold;
            }
        }

    }
    &.popup-hindi{
        background: #e6eaec url("../img/hindi-popup-img.png") bottom right no-repeat;
        .hindi-text{
            padding-right: 50%;
            min-height: 142px;
            span{
                color:$yellow;
                font-weight: bold;
            }
        }
    }
}


#fade {
	display: none;
	background: #005a6d;
	position: fixed;
    left: 0;
    top: 0;
	width: 100%;
    height: 100%;
	opacity: .70;
	z-index: 298;
}
	*html #fade {
		position: absolute;
	}