.regional {
	padding: 120px 0 180px;
	background-image: url('../img/partner/man2.png');
	background-size: contain;
	background-repeat: no-repeat;

	@media (max-width: 480px) {
		padding: 60px 0 60px;
	}

	&__title {
		font-size: 50px;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 40px;

		@media (max-width: 480px) {
			font-size: 30px;	
		}
	}

	&__wrap {
		overflow-x: auto;
		margin-bottom: 45px;

		&::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			background-color: #F5F5F5;
			border-radius: 10px;
		}

		&::-webkit-scrollbar {
			width: 10px;
			background-color: #F5F5F5;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background-image: linear-gradient(90deg,#88cbf5 0,#33a0e5 100%);
		}
	}

	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		border-color: #f2f2f2;
	}

	&__table {
		min-width: 970px;
	}

	&__header {
		.regional__cell{
			background: #f2f2f2;
			font-size: 12px;
			font-weight: normal;
		}
	}

	&__cell {
		text-align: left;
		font-size: 13px;
		background: white;
		vertical-align: middle !important;

		&:nth-of-type(1) {
			text-align: center;
		}
	}

	&__country {
		border-radius: 50%;
		width: 17px;
		height: 17px;
		margin-right: 10px;
	}

	&__mail {
		max-width: 163px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&__social {
		max-width: 160px;
	}

	&__username, &__mail {
		font-weight: bold;
	}

	&__button {
		.btn {
			font-size: 10px;
			padding: 7px 30px;
		}
	}

	.show-more {
		font-size: 20px;
		font-weight: bold;
		min-width: 370px;
		min-height: 60px;
		line-height: 1;
		padding: 20px 30px;

		@media (max-width: 480px) {
			min-width: unset;
		}
	}

}