.socials {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;

	&__item {
		background: gray;
		width: 27px;
		height: 27px;
		margin-right: 5px;
		margin-bottom: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		font-size: 16px;

		&.fa-facebook {
			background: #3b57a0;
		}
		&.fa-vk {
			background: #4a76a8;
		}
		&.fa-telegram {
			background: #3e99d0;
		}
		&.fa-skype {
			background: #4eb9f8;
		}
		&.fa-youtube {
			background: #dc0100;
		}
		&.fa-twitter {
			background: #83d1ff;
		}
	}
}