.status{
	padding: 120px 0;
	background-image: url(../img/partner/man.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0 50%;

	@media (max-width: 480px) {
		padding: 60px 0;
	}

	&__title {
		font-size: 40px;
		color: $black-font;
		margin-bottom: 20px;
		text-transform: uppercase;
		line-height: 1;

		@media (max-width: 940px) {
			padding: 0 20px;
		}
	}

	&__subtitle {
		font-size: 16px;
		margin-bottom: 40px;
		color: $black-font;
		line-height: 1.25;
		@media (max-width: 940px) {
			padding: 0 20px;
		}
	}

	&__type {
		margin-bottom: 30px;
	}
}