.user-type {
	border: 1px solid #d7dfe3;
	padding: 30px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;

	@media (max-width: 940px) {
		margin: 0 30px 55px;
		flex-direction: column;
		align-items: center;
	}

	@media (max-width: 480px) {
		margin: 0 10px 30px;
	}

	&__title {
		font-size: 32px;
		color: $black-font;
		text-align: left;

		@media (max-width: 940px) {
			line-height: 1;
			text-align: center;
		}

		&_bold {
			font-weight: bold;
		}
		&_img {
			position: relative;
			padding-left: 55px;

			img {
				height: 27px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
			}
		}
	}

	&__subtitle {
		font-size: 12px;
		line-height: 1;
		color: $black-font;
		text-align: left;
		margin-bottom: 0;

		@media (max-width: 940px) {
			margin-bottom: 15px;
		}
	}

	&__lines {
		flex-basis: 100%;
		margin: 40px auto 15px;
	}

	&__add {
		position: absolute;
		right: -45px;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;

		@media (max-width: 1170px) {
			right: 75px;
			bottom: -45px;
			top: unset;
			transform: unset;
			flex-direction: row;
		}

		&-card {
			width: 44px;
			height: 44px;
			background: #4b008e;
			background-repeat: no-repeat;
			background-size: 31px;
			background-position: center;
			cursor: pointer;
			position: relative;
			border-radius: 0 4px 4px 0;

			@media (max-width: 1170px) {
				border-radius: 0 0 4px 4px;
			}

			&:hover {
				&:after {
					content: attr(data-text);
				}
				&:before {
					content: "";
				}
			}

			&:after{
				position: absolute;
				background: #4b008e;
				padding: 10px;
				color: white;
				top: calc(100% + 10px);
				text-align: left;
				z-index: 61;
				border-radius: 4px;
				left: -32%;
				font-size: 12px;
				min-width: 133px;
				line-height: 1;
				letter-spacing: normal;
			}

			&:before {
				display: block;
				width: 0;
				border: 15px solid transparent;
				border-bottom-color: rgb(75, 0, 142);
				margin: auto;
				position: absolute;
				left: 0;
				right: 0;
				bottom: -17px;
			}


			&-mail {
				margin-bottom: 10px;
				background-image: url(../img/partner/mail.png);

				@media (max-width: 1170px) {
					margin-bottom: 0;
					margin-right: 10px;
				}
			}

			&-diplom {
				background-image: url(../img/partner/diplom.png);
			}
		}
	}
}